:root {
  --brand-color: #da1e42;
  --dynamic-menu-background-color: #050708;
  --dynamic-drob-down-menu-background-color: white;
  --dynamic-menu-level-1-color: white;
  --dynamic-menu-level-1-hover-color: #da1e42;
  --dynamic-menu-level-2-color: #da1e42;
  --dynamic-menu-level-2-hover-color: #050708;
  --dynamic-menu-level-3-color: #050708;
  --dynamic-menu-level-3-hover-color: #da1e42;
  --menu-font-color: white;
  --menu-font-hover-color: #da1e42;
}
