<div class="form-sidebar view-vindor-types  add-edit-product-form" id="add-prod">
  <div class="head">
    <span (click)="closeSideBar()" class="close">
      <i class="icon-Exit"></i>
    </span>
    <h3>{{selectVariant ? 'Edit Variant' : 'New Variant' }} </h3>
  </div>
  <form (ngSubmit)="save()" [formGroup]="variantForm" class="sideform" novalidate>

    <div class="form-group">
      <label>Image</label>
      <div class="d-flex justify-content-center flex-column">
        <app-image-uploader [fileUrl]="variantForm.value?.image" [formControlChildName]="'image'" [myForm]="variantForm"
          class="w-100" height="340px" width="50%">
        </app-image-uploader>
        <div *ngIf="formControlValidator('image','required')" class="text-danger">
          Image Is Required
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="add-img" (click)="addImage()">
        <img src="assets/img/Expand.svg" alt="add image">
        <span>add image</span>
      </div>
      <div formArrayName="images" *ngIf="variantForm.get('images')['controls'].length">
        <div class="owls-upload owls-upload3"
          *ngFor="let image of variantForm.get('images')['controls']; let i = index">

          <div [formGroupName]="i">
            <app-image-uploader [fileUrl]="image?.value.url" [formControlChildName]="'url'" [myForm]="image"
              class="w-100" height="60px" width="60px">
            </app-image-uploader>
            <i class="icon-Exit" (click)="removeImage(i)" *ngIf='image'></i>
          </div>
          <div *ngIf="formGroupControlsValidator(image,'url','required')" class="alert alert-danger">
            Image Is Required
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label> Video (optional) </label>
      <input class="owl-input" formControlName="video" placeholder="Type..." type="text">
    </div>

    <div class="form-group">
      <label> Name</label>
      <input class="owl-input" formControlName="name" placeholder="Type.." required type="text">
      <div *ngIf="formControlValidator('name','required')" class="alert alert-danger">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label>Name (Ar)</label>
      <input class="owl-input" formControlName="name_ar" placeholder="Type.." required type="text">
      <div *ngIf="formControlValidator('name_ar','required')" class="alert alert-danger">
        Name (Ar) is required.
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <!--<textarea class="owl-input" formControlName="description" laceholder="type" maxlength="250" required></textarea>-->
      <angular-editor [id]="'description'" formControlName="description" [config]="editorConfig" required>
      </angular-editor>

      <div *ngIf="formControlValidator('description','required')" class="alert alert-danger">
        Description is required.
      </div>
      <div *ngIf="formControlValidator('description','minlength')" class="alert alert-danger">
        Description is too short.
      </div>
      <div *ngIf="formControlValidator('description','maxlength')" class="alert alert-danger">
        Description is too long.
      </div>
    </div>

    <div class="form-group">
      <label>Description (Ar)</label>
      <!--<textarea class="owl-input" formControlName="description_ar" maxlength="250" placeholder="type"
                required></textarea>-->
      <angular-editor [id]="'description_ar'" formControlName="description_ar" [config]="editorConfig" required>
      </angular-editor>

      <div *ngIf="formControlValidator('description_ar','required')" class="alert alert-danger">
        Description is required.
      </div>
      <div *ngIf="formControlValidator('description_ar','minlength')" class="alert alert-danger">
        Description is too short.
      </div>
      <div *ngIf="formControlValidator('description_ar','maxlength')" class="alert alert-danger">
        Description is too long.
      </div>
    </div>

    <div class="form-group">
      <label> Long description</label>
      <!--<textarea class="owl-input" formControlName="long_description_en" placeholder="type"></textarea>-->
      <angular-editor [id]="'long_description_en'" formControlName="long_description_en" [config]="editorConfig">
      </angular-editor>
    </div>

    <div class="form-group">
      <label>Long description (Ar)</label>
      <!--<textarea class="owl-input" formControlName="long_description_ar" placeholder="type"></textarea>-->
      <angular-editor [id]="'long_description_ar'" formControlName="long_description_ar" [config]="editorConfig">
      </angular-editor>
    </div>


    <div class="form-group">
      <label>Meta Title</label>
      <textarea class="owl-input" formControlName="meta_title" placeholder="type"></textarea>
    </div>

    <div class="form-group">
      <label>Meta Description</label>
      <textarea class="owl-input" formControlName="meta_description" placeholder="type"></textarea>
    </div>

    <div class="form-group">
      <label>Meta Title (AR)</label>
      <textarea class="owl-input" formControlName="meta_title_ar" placeholder="type"></textarea>
    </div>

    <div class="form-group">
      <label>Meta Description (AR)</label>
      <textarea class="owl-input" formControlName="meta_description_ar" placeholder="type"></textarea>
    </div>

    <div class="form-group">
      <label>Stock</label>
      <input [min]="0" class="owl-input" formControlName="stock" maxlength="6"
        onkeypress='return event.charCode >= 48 && event.charCode <= 57 ' placeholder="Stock" type="text">
      <div *ngIf="formControlValidator('stock','required')" class="alert alert-danger">
        Stock is required
      </div>
    </div>

    <div class="form-group">
      <label> Pricing</label>
      <input [max]="1000000" [min]="1" class="owl-input" formControlName="price" pattern="[0-9]+(\.[0-9][0-9]?)?"
        placeholder="Type.." type="number">
      <div *ngIf="formControlValidator('price','required')" class="alert alert-danger">
        Pricing is required.
      </div>
      <div *ngIf="formControlValidator('price','min')" class="alert alert-danger">
        Price minimum is 1 LE.
      </div>
      <div *ngIf="formControlValidator('price','max')" class="alert alert-danger">
        Price Maximum is 1000000 LE.
      </div>
      <div *ngIf="formControlValidator('price','pattern')" class="alert alert-danger">
        Invalid number format
      </div>
    </div>

    <div class="group-box mt-2">
      <div class="form-group">
        <label> Discount Price
          <small> optional</small>
        </label>
        <input [min]="0" class="owl-input" formControlName="discount_price" pattern="[0-9]+(\.[0-9][0-9]?)?"
          placeholder="Type.." type="number">
        <div *ngIf="formControlValidator('discount_price','min')" class="alert alert-danger">
          Discount price can't be a negative value
        </div>
        <div *ngIf="formControlValidator('discount_price','max')" class="alert alert-danger">
          Discount Price must be less than the price
        </div>
        <div *ngIf="formControlValidator('discount_price','pattern')" class="alert alert-danger">
          Invalid number format
        </div>
        <div *ngIf="formControlValidator('discount_price','lessThan')" class="text-danger">
          Discount Can't Exceed The Price
        </div>
      </div>
      <div>
        <div class="title">
          Start Date-Time
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-generic-date-picker [myForm]="variantForm" [formControlChildName]="'discount_start_date'"
              [placeholder]="'Start Date'">
            </app-generic-date-picker>
            <div *ngIf="formControlValidator('discount_start_date','required')" class="text-danger">
              Filed Is Required
            </div>
          </div>
          <div class="col-12 col-md-6">
            <app-generic-time-picker [formControlChildName]="'start_time'" [myForm]="variantForm"
              [placeholder]="'Pick Time'"></app-generic-time-picker>
            <div *ngIf="formControlValidator('start_time','required')" class="text-danger">
              Filed Is Required
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="title">
          Expiration Date-Time
        </div>
        <div class="row">
          <div class="col-12 col-md-6">
            <app-generic-date-picker [myForm]="variantForm" [formControlChildName]="'discount_end_date'"
              [placeholder]="'Expiration Date'">
            </app-generic-date-picker>
            <div *ngIf="formControlValidator('discount_end_date','required')" class="text-danger">
              Filed Is Required
            </div>
            <div *ngIf="formControlValidator('discount_end_date','dateRang')" class="text-danger">
              Expiration Date Must Be Greater Than Start Date
            </div>
          </div>
          <div class="col-12 col-md-6">
            <app-generic-time-picker [formControlChildName]="'expiration_time'" [myForm]="variantForm"
              [placeholder]="'Pick Time'"></app-generic-time-picker>
            <div *ngIf="formControlValidator('expiration_time','required')" class="text-danger">
              Filed Is Required
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">

        <label> Commission
          <small> optional</small>
        </label>
        <!-- (ngModelChange)='editText($event)' -->
        <input class="owl-input" formControlName="affiliate_commission" placeholder="Type.." onkeypress='return (event.charCode >= 48 && event.charCode <= 57 ) || event.charCode == 46'>
        <div
          *ngIf="variantForm.controls.affiliate_commission.invalid && (variantForm.controls.affiliate_commission.dirty || variantForm.controls.affiliate_commission.touched)"
          class="alert alert-danger">
          <div *ngIf="variantForm.controls.affiliate_commission.errors.min">
            Minimum percentage 1%
          </div>
          <div *ngIf="variantForm.controls.affiliate_commission.errors.max">
            Max percentage 100 %
          </div>
          <div *ngIf="variantForm.controls.affiliate_commission.errors.pattern">
            Number Only
          </div>
        </div>
      </div>
      <div class="form-group">
        <label> Payment Methods
          <!-- <small> optional</small> -->
        </label>
        <ng-select [closeOnSelect]="false" [items]="paymentMethods" [multiple]="true"
          formControlName="payment_method_discount_ids" bindLabel="name" bindValue="id" name="payment_method_discount_ids"
          placeholder="Select Payment Methods">
        </ng-select>
      </div>

    </div>

    <div>
      <div formArrayName="option_values" class="form-group"
        *ngFor="let option of variantForm.get('option_values')['controls']; let i = index">
        <span [formGroupName]='i'>

          <div class="" *ngIf="option?.value.type != '5'">
            <label> {{option?.controls['name_en']?.value}} </label>
            <select class="owl-input" name="option" (change)="selectOptionValue(option, $event, i)"
              formControlName="option_value_id">
              <option value="" hidden selected>Select option </option>
              <!--<option value="{{value.id}}" *ngFor="let value of option?.values">{{value.name_en}}</option>-->
              <option *ngFor="let val of option?.controls['optionValues']?.value" value="{{val.id}}">
                {{val.name_en}}
              </option>
            </select>
            <div
              *ngIf="variantForm.controls.option_values['controls'][i]?.controls?.option_value_id?.invalid && (variantForm.controls?.option_values?.controls[i].controls?.option_value_id?.dirty || variantForm.controls.option_values?.controls[i].controls?.option_value_id?.touched)"
              class="alert alert-danger">
              <div
                *ngIf="variantForm.controls.option_values['controls'][i]?.controls?.option_value_id?.errors?.required">
                option is required.
              </div>
            </div>
          </div>

          <div class="" *ngIf="option?.value.type == '5'">
            <label> {{option?.controls['name_en']?.value}} </label>
            <div class="form-group w-100 mt-2">
              <angular-editor [id]="i" formControlName="input_ar" [config]="editorConfig" [placeholder]="'Arabic'">
              </angular-editor>
            </div>
            <div class="form-group w-100 mt-2">
              <angular-editor [id]="i" formControlName="input_en" [config]="editorConfig" [placeholder]="'English'">
              </angular-editor>
            </div>
            <!--<div class="form-group">
              <input type="text" class="owl-input" (click)="takeInputId(option, i)" placeholder="English" formControlName="input_en">
            </div>
            <div class="form-group">
              <input type="text"   class="owl-input" placeholder="Arabic" formControlName="input_ar">
            </div>-->
          </div>
        </span>
      </div>
    </div>



    <div class="form-group" *ngIf="parentProduct?.type == 2">
      <label>Bundle Products</label>
      <ng-select [typeahead]="productsInput$" [loading]="productsLoading" name="products" [items]="products$ | async"
        bindLabel="name" bindValue="id" multiple="true" placeholder="Enter Product name"
        formControlName="bundle_products_ids">
      </ng-select>
    </div>

    <div class="form-group">
      <label>Weight</label>
      <input [min]="0" class="owl-input" formControlName="weight" maxlength="6" pattern="^\d+(?:\.\d{1,2})?$"
      onkeypress='return (event.charCode >= 48 && event.charCode <= 57 ) || event.charCode == 46' placeholder="Weight" type="text">
      <div *ngIf="formControlValidator('weight','required')" class="alert alert-danger">
        Weight is required
      </div>
    </div>

    <div class="form-group">
      <label> SKU </label>
      <input [min]="1" class="owl-input" formControlName="sku" placeholder="Type SKU.." required type="text">
      <div *ngIf="formControlValidator('sku','required')" class="alert alert-danger">
        Sku Is Required
      </div>
      <div *ngIf="formControlValidator('sku','min')" class="alert alert-danger">
        Sku Must Be Numbers Only
      </div>
    </div>
    <div class="form-group">
      <label> Order</label>
      <input type="number" class="owl-input" placeholder="Type.." formControlName="order">
    </div>


<div class="form-group" style="margin-top: 10px; margin-bottom: 10px;">
      <label class="container">Free Delivery
        <input type="checkbox"
          class="form-control checkbox-style" name="free_delivery" id="free_delivery" [value]="1"
          formControlName="free_delivery">
        <span class="checkmark"></span>
      </label>
    </div>

    <!--<div class="form-group">
      <label>Stock notification limit </label>
      <input class="owl-input" formControlName="stock_alert" placeholder="Type.." type="number">
    </div>-->

    <div class="form-group">
      <div *ngFor="let formGroupItem of variantForm.get('options')['controls']; let i = index;" formArrayName="options">
        <div [formGroupName]="i" class="mt-2 group-block">

          <label class="my-2">{{formGroupItem?.controls['optionData']?.value?.name_en}}</label>

          <select class="owl-input" formControlName="option_value_id"
            *ngIf="formGroupItem.controls['optionData']?.value?.type !== '5'">
            <option hidden selected value="">Select Value</option>
            <option *ngFor="let val of formGroupItem?.controls['optionData']?.value?.values" value="{{val.id}}">
              {{val.name_en}}
            </option>
          </select>
          <div *ngIf="formGroupControlsValidator(formGroupItem,'option_value_id','required')"
            class="alert alert-danger">
            Value Is Required
          </div>

          <div *ngIf="formGroupItem.controls['optionData']?.value?.type == 4"
            class="d-flex justify-content-center flex-column mt-2">
            <app-image-uploader [fileUrl]="formGroupItem?.controls['option_image'].value"
              [formControlChildName]="'option_image'" [myForm]="formGroupItem" class="w-100" height="240px" width="50%">
            </app-image-uploader>
            <div *ngIf="formGroupControlsValidator(formGroupItem,'option_image','required')" class="alert alert-danger">
              Image Is Required
            </div>
          </div>

          <div *ngIf="formGroupItem.controls['optionData']?.value?.type == 5"
            class="d-flex justify-content-center flex-column mt-2">
            <input class="owl-input my-1" formControlName="input_ar" placeholder="Input AR" type="text">
            <input class="owl-input my-1" formControlName="input_en" placeholder="Input EN" type="text">
            <div *ngIf="formGroupControlsValidator(formGroupItem,'input_ar','required')" class="alert alert-danger">
              Input AR Is Required
            </div>
            <div *ngIf="formGroupControlsValidator(formGroupItem,'input_en','required')" class="alert alert-danger">
              Input EN Is Required
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <pre class="text-dark">{{variantForm.value | json}}</pre>-->
    <div class="form-sidebar-btns">
      <button [appLoading]="submitting" class="btn btn-owls btn-rounded btn-green">Save</button>
    </div>
  </form>

</div>
