<!-- <ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar> -->
<div class="login-wrap">
  <div class="bg-blue"></div>
  <div class="container">
    <div class="login-image text-center">
      <img src="assets/img/login-logo.png" alt="owls" />
    </div>
    <div class="store-form-up">
      <div class="head clearfix">
        <button
          type="submit"
          class="pull-right btn btn-owls btn-rounded btn-blue"
        >
          skip
        </button>
        <h4 class="float-left">add store</h4>
      </div>

      <form>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="">Store</label>
              <input
                type="text"
                class="owl-input"
                id=""
                placeholder="type here"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for="">City & Naighbourhood</label>
              <select name="" class="owl-input">
                <option value="0">cairo</option>
                <option value="0">alex</option>
                <option value="0">giza</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-sm-3">
                <img
                  style="margin-top: 30px"
                  src="http://via.placeholder.com/70x70"
                  class="owl-img"
                />
              </div>
              <div class="col-sm-9">
                <div class="form-group" style="margin-top: 15px">
                  <label for="">Upload image / Logo</label>
                  <div class="owl-input owl-input-file">
                    <input
                      type="file"
                      class=""
                      id=" "
                      placeholder="type here "
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3>Timings</h3>

        <div class="horizontal-scroll-wrapper">
          <div class="row flex-nowrap">
            <div class="col-md-3">
              <div class="set-time-item">
                <div class="form-group">
                  <label class="checkup"
                    >Monday
                    <input name="1" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="form-group">
                  <label for=" ">from</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for=" ">to</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="set-time-item">
                <div class="form-group">
                  <label class="checkup"
                    >Monday
                    <input name="1" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="form-group">
                  <label for=" ">from</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for=" ">to</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="set-time-item">
                <div class="form-group">
                  <label class="checkup"
                    >Monday
                    <input name="1" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="form-group">
                  <label for=" ">from</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for=" ">to</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="set-time-item">
                <div class="form-group">
                  <label class="checkup"
                    >Monday
                    <input name="1" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="form-group">
                  <label for=" ">from</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for=" ">to</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="set-time-item">
                <div class="form-group">
                  <label class="checkup"
                    >Monday
                    <input name="1" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="form-group">
                  <label for=" ">from</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for=" ">to</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-3">
              <div class="set-time-item">
                <div class="form-group">
                  <label class="checkup"
                    >Monday
                    <input name="1" type="checkbox" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="form-group">
                  <label for=" ">from</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for=" ">to</label>
                  <select name=" " class="owl-input">
                    <option selected disabled value="0 ">time</option>
                    <option value="0 ">10</option>
                    <option value="0 ">20</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row ">

          <div class="col-md-2 ">
            <div class="form-group ">
              <label for=" ">from</label>
              <select name=" " class="owl-input ">
                <option selected disabled value="0 ">time</option>
                <option value="0 ">10</option>
                <option value="0 ">20</option>
              </select>
            </div>
          </div>

          <div class="col-md-2 ">
            <div class="form-group ">
              <label for=" ">to</label>
              <select name=" " class="owl-input ">
                <option selected disabled value="0 ">time</option>
                <option value="0 ">30</option>
                <option value="0 ">40</option>
              </select>
            </div>
          </div>

          <div class="col-md-2 ">
            <div class="form-group ">
              <label for=" "></label>
              <br>
              <br>
              <button type="submit " class=" btn btn-owls btn-rounded btn-green2 ">+ Add Time</button>

            </div>
          </div>

        </div> -->

        <!-- <div class="row ">
          <div class="col-md-12 ">
            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              Store
            </div>

            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              candidate
            </div>


            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              soleeklab
            </div>

            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              otlob
            </div>

            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              elmenus
            </div>


            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              mo'men
            </div>

            <div class="owls-time-alert ">
              <span class="closebtn ">&times;</span>
              alsafa
            </div>

          </div>
        </div> -->

        <div class="row">
          <div class="col-md-12">
            <button
              class="btn btn-owls btn-rounded btn-blue"
              id="toggle-edit-out"
              href="javascript:void(0)"
            >
              delivary locations
            </button>

            <div class="edit-out">
              <div class="close">
                <i class="icon-Exit"></i>
              </div>
              <div class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input
                  type="text"
                  class="owl-input owls-search"
                  placeholder="select location ..."
                />
              </div>

              <div class="deliverycharge deliverycharge2">
                <div class="deliverycharge-item">
                  <div class="price pull-right">
                    <input
                      type="text"
                      class="owl-input"
                      placeholder="type .. $"
                    />
                  </div>

                  <label class="checkup"
                    >One
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="deliverycharge-item">
                  <div class="price pull-right">
                    <input
                      type="text"
                      class="owl-input"
                      placeholder="type .. $"
                    />
                  </div>

                  <label class="checkup"
                    >One
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="deliverycharge-item">
                  <div class="price pull-right">
                    <input
                      type="text"
                      class="owl-input"
                      placeholder="type .. $"
                    />
                  </div>

                  <label class="checkup"
                    >One
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="deliverycharge-item">
                  <div class="price pull-right">
                    <input
                      type="text"
                      class="owl-input"
                      placeholder="type .. $"
                    />
                  </div>

                  <label class="checkup"
                    >One
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="deliverycharge-item">
                  <div class="price pull-right">
                    <input
                      type="text"
                      class="owl-input"
                      placeholder="type .. $"
                    />
                  </div>

                  <label class="checkup"
                    >One
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                </div>

                <div class="deliverycharge-item">
                  <div class="price pull-right">
                    <input
                      type="text"
                      class="owl-input"
                      placeholder="type .. $"
                    />
                  </div>

                  <label class="checkup"
                    >One
                    <input type="checkbox" checked="checked" />
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <button class="btn btn-owls btn-rounded btn-green float-right">
                save
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for=" ">Address Line 1</label>
              <input
                type="text "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>

          <div class="col-md-6">
            <div class="form-group">
              <label for=" ">Address Line 2</label>
              <input
                type="email "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">Store Contact</label>
              <input
                type="text "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">Store Number</label>
              <input
                type="text "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">Store Email</label>
              <input
                type="text "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">Manager Name</label>
              <input
                type="text "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">Manager Number</label>
              <input
                type="text "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">Manager Email</label>
              <input
                type="email "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">store ID</label>
              <h4>AB234</h4>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">password</label>
              <input
                type="password "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
              <label for=" ">confirm password</label>
              <input
                type="password "
                class="owl-input"
                id=" "
                placeholder="type here "
              />
            </div>
          </div>
        </div>

        <div class="store-form-up-footer">
          <button type="submit " class="btn btn-owls btn-rounded btn-green">
            save
          </button>
        </div>
      </form>

      <div class="congrats" style="display: none">
        <div class="center-content-page">
          <div class="center-content-pag-inner">
            <img src="assets/img/Strore_added.svg" alt="" class="center" />
            <h3>Congrats!</h3>
            <p>You just added vendor ahmed eraqi</p>

            <div class="btn-group">
              <button class="btn btn-owls btn-rounded btn-green">
                + New Vendor
              </button>
              <button class="btn btn-owls btn-rounded btn-blue2">
                Continue
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
