<ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar>
<div class="top-table-bar">

  <div class="row">
    <div class="col-md-2">
      <a routerLink="/pages/promocodes" class="back-btn">
        <i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>

    <div class="col-md-10">

    </div>

  </div>
</div>



<div class="add-vendor-form ">
  <form class="row" name="newPromo" (ngSubmit)="addpromo(promo)" [formGroup]="newPromo" novalidate>

    <div class="col-12 col-md-6">
      <h2>new promocode</h2>
      <label for="select_Customers" class="checkup">Select Customers
        <input id="select_Customers" type="radio" name="typeCustmerSelect" formControlName="typeCustmerSelect"
          [(ngModel)]="promo.typeCustmerSelect" (click)="typeCustmerSelect($event)">
        <span class="checkmark"></span>
      </label>
      <label for="upload_Customers" class="checkup">Upload Customers
        <input type="radio" name="typeCustmerSelect" formControlName="typeCustmerSelect"
          [(ngModel)]="promo.typeCustmerSelect" id="upload_Customers" (click)="typeCustmerSelect($event)">
        <span class="checkmark"></span>
      </label>
      <div class="form-group" style="overflow: visible;">
        <label>Customers </label>
        <ng-select [typeahead]="customersInput$" [loading]="customersLoading" [(ngModel)]="newPromo.customers"
          name="customers" [items]="customers$ | async" bindLabel="name" bindValue="id" [multiple]="true"
          placeholder="Enter Customer name" formControlName="customers">
        </ng-select>
      </div>
      <div class="form-group">
        <button class=" btn btn-owls btn-rounded btn-green  btn-special owl-input-file inputFile"
          style="overflow: hidden">Import Customers phone
          <input #myInput (change)="onImageSelected(newPromo, $event)" type="file" class="input-style"
            placeholder="type here " accept=".xlsx, .xls, .csv">
        </button>
      </div>

      <div class="form-group">
        <label for="">prmocode name </label>
        <input type="text" class="owl-input" formControlName="promoName" id="" placeholder="Type here..."
          [(ngModel)]="promo.name" name="promo Name" required pattern="[A-Za-z0-9\-\&]+$" maxlength="15">
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.promoName.invalid && (newPromo.controls.promoName.dirty || newPromo.controls.promoName.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.promoName.errors.required">
            PromoCode Name is required.
          </div>
          <div *ngIf="newPromo.controls.promoName.errors.pattern">
            Name is must contain letters, numbers.
          </div>
          <div *ngIf="newPromo.controls.promoName.errors.pattern">
            Name max length is 15 characters.
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>

      <div class="form-group">
        <label for="charge">Promocode Recurrence</label>
        <select name="" id="charge" class="owl-input" required name="recurrence" formControlName="recurrence"
          [(ngModel)]="promo.recurrence">
          <option value="" disabled selected>Select PromoCode Recurrence</option>
          <option value="1">One time use</option>
          <option value="2">Daily use</option>
        </select>
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.recurrence.invalid && (newPromo.controls.recurrence.dirty || newPromo.controls.recurrence.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.recurrence.errors.required">
            PromoCode Type is required.
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>

      <div class="form-group">
        <label for="charge">promocode type </label>
        <select name="" id="charge" class="owl-input" required name="promoCodeType" formControlName="promotype"
          [(ngModel)]="promo.type">
          <option value="" disabled selected>Select PromoCode Type</option>
          <option value="1">amount </option>
          <option value="2">percentage</option>
          <option value="3">Free delivery</option>
        </select>
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.promotype.invalid && (newPromo.controls.promotype.dirty || newPromo.controls.promotype.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.promotype.errors.required">
            PromoCode Type is required.
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>


      <div class="form-group icon-le" *ngIf="promo.type === '1' ">
        <!--Start For Amount -->
        <label for=""> amount </label>
        <input type="number" class="owl-input" id="" placeholder="Type Amount" name="amount" [(ngModel)]="promo.amount"
          required [min]="1" formControlName="amount" [max]="10000">
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.amount.invalid && (newPromo.controls.amount.dirty || newPromo.controls.amount.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.amount.errors.required">
            amount Is Required.
          </div>
          <div *ngIf="newPromo.controls.amount.errors.min">
            Minimum amount 1
          </div>
          <div *ngIf="newPromo.controls.amount.errors.max">
            Maximum amount 10000
          </div>
        </div>
        <!--END For Amount -->
        <!-- End Errors Rolues -->
      </div>
      <div class="form-group icon-per" *ngIf="promo.type === '2' ">
        <!--Start For max Amount -->
        <label for="">percentage </label>
        <input type="number" class="owl-input" id="" placeholder="Type percentage" name="amount"
          [(ngModel)]="promo.amount" required [min]="1" formControlName="amount" [max]="100">
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.amount.invalid && (newPromo.controls.amount.dirty || newPromo.controls.amount.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.amount.errors.required">
            percentage Is Required.
          </div>
          <div *ngIf="newPromo.controls.amount.errors.min">
            Minimum percentage 1%
          </div>
          <div *ngIf="newPromo.controls.amount.errors.max">
            max percentage 100 %
          </div>
        </div>
        <!--END For max Amount -->
        <!-- End Errors Rolues -->
      </div>

      <div class="form-group" *ngIf="promo.type === '2' ">
        <label for=""> max amount </label>
        <input type="number" class="owl-input" id="" placeholder="Type Max Amount" name="max_amount"
          [(ngModel)]="promo.max_amount" [min]="1" formControlName="max_amount">
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.max_amount.invalid && (newPromo.controls.max_amount.dirty || newPromo.controls.max_amount.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.max_amount.errors.min">
            Minimum max Amount 1
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>
      <!--END For Max Amount -->
      <div class="form-group">
        <label for=""> Minimum order </label>
        <input type="number" class="owl-input" id="" placeholder="Minimum order" name="minimum_amount"
          [(ngModel)]="promo.minimum_amount" formControlName="minimum_amount" [max]="10000">

      </div>
      <!--END For Max Amount -->
      <label class="checkup">First order only
        <input type="checkbox" formControlName="first_order" [(ngModel)]="promo.first_order">
        <span class="checkmark"></span>
      </label>

      <div class="form-group">
        <label for="charge">Description </label>
        <textarea name="" style="height: 150px;" class="owl-input" placeholder="type here.." required
          formControlName="description" name="description" [(ngModel)]="promo.description"
          [rangeLength]="[7, 150]"></textarea>
        <!-- Start  Errors Rolues -->
        <div
          *ngIf="newPromo.controls.description.invalid && (newPromo.controls.description.dirty || newPromo.controls.description.touched)"
          class="alert alert-danger">
          <div *ngIf="newPromo.controls.description.errors.required">
            Description Is Required.
          </div>
          <div *ngIf="newPromo.controls.description.errors.rangeLength">
            Description is too short.
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>
      <div class="form-group">
        <div>
          <mat-form-field>
            <input [min]="today" matInput placeholder="Valid To" [satDatepicker]="picker" [value]="date"
              formControlName="date" name="date" requried>
            <sat-datepicker #picker [rangeMode]="false">
            </sat-datepicker>
            <sat-datepicker-toggle matSuffix [for]="picker"></sat-datepicker-toggle>
          </mat-form-field>
          <!-- Start  Errors Rolues -->
          <div
            *ngIf="newPromo.controls.date.invalid && (newPromo.controls.date.dirty || newPromo.controls.date.touched)"
            class="alert alert-danger">
            <div *ngIf="newPromo.controls.date.errors.required">
              date Is Required.
            </div>
            <div *ngIf="newPromo.controls.date.errors.min">
              Must be today at least
            </div>
          </div>
          <!-- End Errors Rolues -->
        </div>
      </div>

      <div class="btn-group">
        <button class="btn btn-owls btn-rounded btn-green">add</button>

      </div>

    </div>

  </form>
</div>
