<div class="form-sidebar view-vindor-types add-edit-product-form" id="add-prod">
  <div class="head">
    <span class="close" (click)="closeSideBar()">
      <i class="icon-Exit"></i>
    </span>
    <h3>{{ selectProductDataEdit ? "Edit product" : "New product" }}</h3>
  </div>

  <form
    class="sideform"
    (ngSubmit)="addProducts()"
    [formGroup]="addProductForm"
    novalidate
  >
    <div class="form-group">
      <label for=""> Name</label>
      <input
        type="text"
        class="owl-input"
        placeholder="Type.."
        required
        formControlName="name"
      />
      <div
        *ngIf="
          addProductForm.controls.name.invalid &&
          (addProductForm.controls.name.dirty ||
            addProductForm.controls.name.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="addProductForm.controls.name.errors.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Name (Ar)</label>
      <input
        type="text"
        class="owl-input"
        placeholder="Type.."
        required
        formControlName="name_ar"
      />
      <div
        *ngIf="
          addProductForm.controls.name_ar.invalid &&
          (addProductForm.controls.name_ar.dirty ||
            addProductForm.controls.name_ar.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="addProductForm.controls.name_ar.errors.required">
          Name (Ar) is required.
        </div>
      </div>
    </div>
    <div class="form-group mt-2">
      <div class="form-group">
        <label> Product Options </label>
        <ng-select
          [closeOnSelect]="true"
          class="owl-input"
          [items]="allOptions"
          [multiple]="true"
          formControlName="product_variant_options"
          bindLabel="name_en"
          bindValue="id"
          name="productVariantOptions"
          placeholder="Select Options"
        >
        </ng-select>
        <div
          *ngIf="
            formControlValidator(
              addProductForm,
              'product_variant_options',
              'required'
            )
          "
          class="text-danger"
        >
          Field Is Required
        </div>
      </div>
    </div>

    <div class="category-list">
      <div class="form-group">
        <label>Category</label>
        <select
          class="owl-input"
          name="category"
          (change)="selectCategory($event)"
          formControlName="main_category"
          required
        >
          <option value="" selected hidden>Select Category</option>
          <ng-container *ngFor="let cat of categories">
            <option
              value="{{ cat.id }}"
              *ngIf="
                addProductForm.get('main_category').value == cat.id ||
                !cat.selected
              "
            >
              {{ cat.name }}
              <span *ngIf="cat.active == 0" style="color: red !important">
                - Deactivate
              </span>
            </option>
          </ng-container>
        </select>

        <div
          *ngIf="
            addProductForm.controls.main_category.invalid &&
            (addProductForm.controls.main_category.dirty ||
              addProductForm.controls.main_category.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="addProductForm.controls.main_category.errors.required">
            Select Category
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Sub Category</label>
        <select
          class="owl-input"
          formControlName="category_id"
          required
          name="subCategory"
        >
          <option value="" selected hidden>Select Sub Category</option>
          <option value="{{ cat.id }}" *ngFor="let cat of sub_categories">
            {{ cat.name }}
            <span *ngIf="cat.active == 0"> - Deactivate </span>
          </option>
        </select>

        <div
          *ngIf="
            addProductForm.controls.category_id.invalid &&
            (addProductForm.controls.category_id.dirty ||
              addProductForm.controls.category_id.touched)
          "
          class="alert alert-danger"
        >
          <div *ngIf="addProductForm.controls.category_id.errors.required">
            Select sub Category
          </div>
        </div>
      </div>
    </div>

    <div class="category-list" *ngIf="addProductForm.value.category_id">
      <div class="form-group">
        <label>Optional Category</label>
        <select
          class="owl-input"
          name="category"
          (change)="selectOptionalCategory($event)"
          formControlName="optional_category"
        >
          <option value="" selected>Select Category</option>
          <ng-container *ngFor="let cat of optionalCategories">
            <option
              value="{{ cat.id }}"
              *ngIf="
                addProductForm.get('optional_category').value == cat.id ||
                !cat.selected
              "
            >
              {{ cat.name }}
              <span *ngIf="cat.active == 0" style="color: red !important">
                - Deactivate
              </span>
            </option>
          </ng-container>
        </select>
      </div>

      <div class="form-group">
        <label>Optional Sub Category</label>
        <select
          class="owl-input"
          formControlName="optional_sub_category_id"
          name="optionalSubCategory"
        >
          <option value="" selected>Select Sub Category</option>
          <option
            value="{{ cat.id }}"
            *ngFor="let cat of optionalSubCategories"
          >
            {{ cat.name }}
            <span *ngIf="cat.active == 0"> - Deactivate </span>
          </option>
        </select>
      </div>
    </div>

    <div>
      <div
        formArrayName="option_values"
        class="form-group"
        *ngFor="
          let option of addProductForm.get('option_values')['controls'];
          let i = index
        "
      >
        <span [formGroupName]="i">
          <div class="" *ngIf="option?.value.type != '5'">
            <label> {{ option?.controls["name_en"]?.value }} </label>
            <select
              class="owl-input"
              name="option"
              (change)="selectOptionValue(option, $event, i)"
              formControlName="option_value_id"
            >
              <option value="" hidden selected>Select option</option>
              <option
                *ngFor="let val of option?.controls['optionValues']?.value"
                value="{{ val.id }}"
              >
                {{ val.name_en }}
              </option>
            </select>
            <div
              *ngIf="
                addProductForm.controls.option_values?.controls[i]?.controls
                  ?.option_value_id?.invalid &&
                (addProductForm.controls?.option_values?.controls[i].controls
                  ?.option_value_id?.dirty ||
                  addProductForm.controls.option_values?.controls[i].controls
                    ?.option_value_id?.touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  addProductForm.controls.option_values?.controls[i]?.controls
                    ?.option_value_id?.errors?.required
                "
              >
                option is required.
              </div>
            </div>
          </div>

          <div class="" *ngIf="option?.value.type == '5'">
            <label> {{ option?.controls["name_en"]?.value }} </label>
            <div class="form-group w-100 mt-2">
              <angular-editor
                [id]="i"
                formControlName="input_ar"
                [config]="editorConfig"
                [placeholder]="'Arabic'"
              >
              </angular-editor>
            </div>
            <div class="form-group w-100 mt-2">
              <angular-editor
                [id]="i"
                formControlName="input_en"
                [config]="editorConfig"
                [placeholder]="'English'"
              >
              </angular-editor>
            </div>
          </div>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label> Brand Name </label>
      <ng-select
        name="bransName"
        [items]="brands"
        bindLabel="name"
        bindValue="id"
        [multiple]="false"
        placeholder="Enter Brand name"
        formControlName="brand_id"
      >
      </ng-select>
      <div
        *ngIf="
          addProductForm.controls.brand_id.invalid &&
          (addProductForm.controls.brand_id.dirty ||
            addProductForm.controls.brand_id.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="addProductForm.controls.brand_id.errors.required">
          Brand Is Required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for=""> SKU </label>
      <input
        type="text"
        class="owl-input"
        placeholder="Type SKU.."
        formControlName="sku"
        required
        [min]="1"
      />
      <div
        *ngIf="
          addProductForm.controls.sku.invalid &&
          (addProductForm.controls.sku.dirty ||
            addProductForm.controls.sku.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="addProductForm.controls.sku.errors.required">
          sku required
        </div>
        <div *ngIf="addProductForm.controls.sku.errors.min">
          sku must be numbers only
        </div>
      </div>
    </div>


    <div *ngIf="addProductForm.value.type == 2">
      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label class="container"
          >Has Own Stock
          <input
            type="checkbox"
            class="form-control checkbox-style"
            name="has_stock"
            id="has_stock"
            [value]="1"
            formControlName="has_stock"
          />
          <span class="checkmark"></span>
        </label>
        <p class="text-muted">
          Checking this optional will reduce stocks from this sku directly
        </p>
      </div>

      <div class="form-group" style="margin-top: 10px; margin-bottom: 10px">
        <label class="container"
          >Bundled Checkout
          <input
            type="checkbox"
            class="form-control checkbox-style"
            name="bundle_checkout"
            id="bundle_checkout"
            [value]="1"
            formControlName="bundle_checkout"
          />
          <span class="checkmark"></span>
        </label>
        <p class="text-muted">
          Checking this optional will display only one product in the invoice
        </p>
      </div>
    </div>

    <div class="form-group">
      <label>Related Products</label>
      <ng-select
        [typeahead]="relatedProductsInput$"
        [loading]="relatedProductsLoading"
        name="relatedProducts"
        [items]="relatedProducts$ | async"
        bindLabel="name"
        bindValue="id"
        multiple="true"
        placeholder="Enter Product name"
        formControlName="related_ids"
      >
      </ng-select>
    </div>

    <div class="form-group">
      <label>Max Quantity Per Order</label>
      <input
        type="number"
        (change)="onQuantityFieldsChange()"
        class="owl-input"
        placeholder="Type.."
        formControlName="max_per_order"
      />
      <div
        *ngIf="
          addProductForm.controls.max_per_order.invalid &&
          (addProductForm.controls.max_per_order.dirty ||
            addProductForm.controls.max_per_order.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="addProductForm.controls.max_per_order.errors.required">
          Maximum quantity per order is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Minimum Quantity Days</label>
      <input
        type="number"
        (change)="onQuantityFieldsChange()"
        class="owl-input"
        placeholder="Type.."
        formControlName="min_days"
      />

      <div
        *ngIf="
          addProductForm.controls.min_days.invalid &&
          (addProductForm.controls.min_days.dirty ||
            addProductForm.controls.min_days.touched)
        "
        class="alert alert-danger"
      >
        <div *ngIf="addProductForm.controls.min_days.errors.required">
          Minimum days is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Stock notification limit </label>
      <input
        type="number"
        class="owl-input"
        placeholder="Type.."
        formControlName="stock_alert"
      />
    </div>
    <div class="form-sidebar-btns">
      <button
        class="btn btn-owls btn-rounded btn-green"
        [appLoading]="submitting"
      >
        Save
      </button>
    </div>
  </form>
</div>
