<div class="form-sidebar view-vindor-types  add-edit-product-form" id="add-prod">
  <div class="head">
    <span class="close" (click)="closeSideBar()">
      <i class="icon-Exit"></i>
    </span>
    <h3>{{selectProductDataEdit ?  'Edit product' : 'New product' }} </h3>
  </div>

  <form class="sideform" (ngSubmit)="addProducts()" [formGroup]="addProductForm" novalidate>
    <div class="form-group">
      <label for=""> Name</label>
      <input type="text" class="owl-input" placeholder="Type.." required formControlName="name">
      <!-- Start  Errors Rolues -->
      <div
        *ngIf="addProductForm.controls.name.invalid && (addProductForm.controls.name.dirty || addProductForm.controls.name.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.name.errors.required">
          Name is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for="">Name (Ar)</label>
      <input type="text" class="owl-input" placeholder="Type.." required formControlName="name_ar">
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.name_ar.invalid && (addProductForm.controls.name_ar.dirty || addProductForm.controls.name_ar.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.name_ar.errors.required">
          Name (Ar) is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for="">images</label>
      <div class="owls-upload owls-upload3 big" style="
      width: 100% !important;
      height: 220px !important;">
        <img class="owl-img img-fluid" [src]="imageUrl ? imageUrl : 'http://via.placeholder.com/370x220'" alt="" style="width: 100%;
        height: 100%;
        object-fit: contain;">
        <img src="./assets/img/Spinner-loading.svg" *ngIf="loading" class="img-loading">
        <!-- <img class="owl-img img-fluid" *ngIf="product.imageUrl" [src]="product.imageUrl" alt=""> -->
        <input type="file" id="productImg" class="owl-input" placeholder="upload your image"
          (change)="onimgeSelected(addProductForm,$event)" name="image" accept="image/*" />
        <!-- <i class="icon-Exit" (click)="product.imageUrl = ''; product.image = ''"></i> -->
      </div>
      <div class="add-img" (click)="addImage()">
        <img src="assets/img/Expand.svg" alt="add image">
        <span>add image</span>
      </div>

      <div formArrayName="images">
        <div class="owls-upload owls-upload3"
          *ngFor="let image of addProductForm.get('images')['controls']; let i = index">

          <div [formGroupName]="i">
            <img width="60" height="60" class="owl-img"
              [src]="image.value.urlPath ? image.value.urlPath : 'http://via.placeholder.com/60x60'" alt="">
            <!-- <img width="60" height="60" class="owl-img" *ngIf="image.urlPath " src="{{image.urlPath}}" alt=""> -->
            <input type="file" name="myfile" (change)="onimagesSelected($event, i)" accept="image/*" />
            <i class="icon-Exit" (click)="removeImage(image , i)"></i>
          </div>

        </div>
      </div>


      <div
        *ngIf="addProductForm.controls.image.invalid && (addProductForm.controls.image.dirty || addProductForm.controls.image.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.image.errors.required">
          Image is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">description</label>
      <textarea class="owl-input" maxlength="250" laceholder="type" formControlName="description" required></textarea>
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.description.invalid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.description.errors.required">
          Description is required.
        </div>
        <div *ngIf="addProductForm.controls.description.errors.minlength">
          Description is too short.
        </div>
        <div *ngIf="addProductForm.controls.description.errors.maxlength">
          Description is too long.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for="">description (Ar)</label>
      <textarea class="owl-input" maxlength="250" placeholder="type" formControlName="description_ar"
        required></textarea>
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.description_ar.invalid && (addProductForm.controls.description_ar.dirty || addProductForm.controls.description_ar.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.description_ar.errors.required">
          Description is required.
        </div>
        <div *ngIf="addProductForm.controls.description_ar.errors.minlength">
          Description is too short.
        </div>
        <div *ngIf="addProductForm.controls.description_ar.errors.maxlength">
          Description is too long.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>
    <div class="form-group">
      <label for=""> Long description</label>
      <textarea class="owl-input" placeholder="type" formControlName="long_description_en"></textarea>

    </div>

    <div class="form-group">
      <label for="">Long description (Ar)</label>
      <textarea class="owl-input" placeholder="type" formControlName="long_description_ar"></textarea>

    </div>
    <div class="form-group">
      <label for="">Stock
      </label>
      <input type="text" class="owl-input" placeholder="Stock" formControlName="stock" [min]="0" maxlength="6"
        onkeypress='return event.charCode >= 48 && event.charCode <= 57 '>

      <div
        *ngIf="addProductForm.controls.stock.invalid && (addProductForm.controls.stock.dirty || addProductForm.controls.stock.touched)"
        class="alert alert-danger">

        <div *ngIf="addProductForm.controls.stock.errors.required">
          Stock is required
        </div>
        <!-- <div *ngIf="addProductForm.controls.stock.errors.min">
          Stock can't be a negative value
        </div> -->

      </div>
    </div>


    <div class="form-group">
      <label for=""> Pricing</label>
      <input type="number" pattern="[0-9]+(\.[0-9][0-9]?)?" class="owl-input" placeholder="Type.."
        formControlName="price" required [min]="1" [max]="1000000" [(ngModel)]="price">
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.price.invalid && (addProductForm.controls.price.dirty || addProductForm.controls.price.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.price.errors.required">
          Pricing is required.
        </div>
        <div *ngIf="addProductForm.controls.price.errors.min">
          Price minimum is 1 LE.
        </div>
        <div *ngIf="addProductForm.controls.price.errors.max">
          Price Maximum is 1000000 LE.
        </div>
        <div *ngIf="addProductForm.controls.price.errors.pattern">
          Invalid number format
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>
    <div class="form-group">
      <label for=""> Discount Price
        <small> optional</small>
      </label>
      <input type="number" pattern="[0-9]+(\.[0-9][0-9]?)?" class="owl-input" placeholder="Type.."
        formControlName="discount_price" [min]="0">
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.discount_price.invalid && (addProductForm.controls.discount_price.dirty || addProductForm.controls.discount_price.touched)"
        class="alert alert-danger">

        <div *ngIf="addProductForm.controls.discount_price.errors.min">
          Discount price can't be a negative value
        </div>
        <div *ngIf="addProductForm.controls.discount_price.errors.max">
          Discount Price must be less than the price
        </div>
        <div *ngIf="addProductForm.controls.discount_price.errors.pattern">
          Invalid number format
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>


    <div class="category-list">

      <div class="form-group">
        <label for="">Category</label>
        <select class="owl-input" name="category" (change)="selectCategory($event)" formControlName="main_category"
          required>
          <option value="" selected hidden>Select Category</option>
          <ng-container *ngFor="let cat of categories">
            <option value="{{cat.id}}" *ngIf="addProductForm.get('main_category').value == cat.id || !cat.selected">
              {{cat.name}}
              <span *ngIf="cat.active == 0" style="color: red !important"> - Deactivate </span>
            </option>
          </ng-container>

        </select>

        <div
          *ngIf="addProductForm.controls.main_category.invalid && (addProductForm.controls.main_category.dirty || addProductForm.controls.main_category.touched)"
          class="alert alert-danger">

          <div *ngIf="addProductForm.controls.main_category.errors.required">
            Select Category
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>
      <div class="form-group">
        <label for="">Sub Category</label>
        <select class="owl-input" formControlName="category_id" required name="subCategory"
          (change)="selectSubCategoryOption($event.target.value)">
          <option value="" selected hidden>Select Sub Category</option>
          <option value="{{cat.id}}" *ngFor="let cat of sub_categories">{{cat.name}}
            <span *ngIf="cat.active == 0"> - Deactivate </span>
          </option>
        </select>
        <!-- Start  Errors Rolues -->

        <div
          *ngIf="addProductForm.controls.category_id.invalid && (addProductForm.controls.category_id.dirty || addProductForm.controls.category_id.touched)"
          class="alert alert-danger">

          <div *ngIf="addProductForm.controls.category_id.errors.required">
            Select sub Category
          </div>
        </div>
        <!-- End Errors Rolues -->
      </div>


    </div>

    <div formArrayName="option_values">

      <div class="form-group" *ngFor="let option of options; let i = index">
        <span [formGroupName]='i'>
          <div class="" *ngIf="option.type != '5'">

            <label> {{option.name_en}} </label>
            <select class="owl-input" name="option" (change)="selectOptionValue(option, $event, i)"
              formControlName="option_value_id">
              <option value="" hidden selected>Select option </option>
              <option value="{{value.id}}" *ngFor="let value of option.values">{{value.name_en}}
              </option>
            </select>
            <div
              *ngIf="addProductForm.controls.option_values['controls'][i].controls.option_value_id.invalid && (addProductForm.controls.option_values['controls'][i].controls.option_value_id.dirty || addProductForm.controls.option_values['controls'][i].controls.option_value_id.touched)"
              class="alert alert-danger">
              <div
                *ngIf="addProductForm.controls.option_values['controls'][i].controls.option_value_id.errors.required">
                option is required.
              </div>
            </div>
          </div>
          <div class="" *ngIf="option.type == '5'">
            <label> {{option.name_en}} </label>
            <div class="form-group">
              <input type="text" class="owl-input" (click)="takeInputId(option, i)" placeholder="English" formControlName="input_en">
            </div>
            <div class="form-group">
              <input type="text"   class="owl-input" placeholder="Arabic"
                formControlName="input_ar">
            </div>
          </div>
        </span>
      </div>
    </div>

    <div class="form-group">
      <label> Brand Name </label>
      <ng-select name="bransName" [items]="brands" bindLabel="name" bindValue="id" [multiple]="false"
        placeholder="Enter Brand name" formControlName="brand_id">
      </ng-select>
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.brand_id.invalid && (addProductForm.controls.brand_id.dirty || addProductForm.controls.brand_id.touched)"
        class="alert alert-danger">

        <div *ngIf="addProductForm.controls.brand_id.errors.required">
          Brand name Is Required
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for=""> SKU </label>
      <input type="text" class="owl-input" placeholder="Type SKU.." formControlName="sku" required [min]="1">
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="addProductForm.controls.sku.invalid && (addProductForm.controls.sku.dirty || addProductForm.controls.sku.touched)"
        class="alert alert-danger">

        <div *ngIf="addProductForm.controls.sku.errors.required">
          sku required
        </div>
        <div *ngIf="addProductForm.controls.sku.errors.min">
          sku must be numbers only
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for="">Stock notification limit </label>
      <input type="number" class="owl-input" placeholder="Type.." formControlName="stock_alert">

    </div>

    <div class="form-group">
      <label for=""> Order</label>
      <input type="number" class="owl-input" placeholder="Type.." formControlName="order">

    </div>
    <div class="form-group">
      <label for="">Max Quantity Per Order</label>
      <input type="number" (change)="onQuantityFieldsChange()" class="owl-input" placeholder="Type.."
        formControlName="max_per_order">
      <div
        *ngIf="addProductForm.controls.max_per_order.invalid && (addProductForm.controls.max_per_order.dirty || addProductForm.controls.max_per_order.touched)"
        class="alert alert-danger">

        <div *ngIf="addProductForm.controls.max_per_order.errors.required">
          Maximum quantity per order is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Mimum Quantity Days</label>
      <input type="number" (change)="onQuantityFieldsChange()" class="owl-input" placeholder="Type.."
        formControlName="min_days">

      <div
        *ngIf="addProductForm.controls.min_days.invalid && (addProductForm.controls.min_days.dirty || addProductForm.controls.min_days.touched)"
        class="alert alert-danger">
        <div *ngIf="addProductForm.controls.min_days.errors.required">
          Minimum days is required
        </div>
      </div>
    </div>

    <div class="form-sidebar-btns">
      <button class="btn btn-owls btn-rounded btn-green" [appLoading]="submitting">Save</button>
    </div>
  </form>
</div>
