<div class="form-sidebar view-vindor-types  add-edit-product-form" id="add-prod">
  <div class="head">
    <span class="close" (click)="closeSideBar()">
      <i class="icon-Exit"></i>
    </span>
    <h3>{{selectProductDataEdit ?  'Edit List' : 'New List' }} </h3>
  </div>

  <form class="sideform" (ngSubmit)="submitForm()" [formGroup]="listForm" novalidate>
    <!-- <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="">Image</label>

          <div class="owls-upload owls-upload3 big">
            <img class="owl-img img-fluid" [hidden]="listForm.controls.image_en.value" src="http://via.placeholder.com/200x200" alt="">
            <img class="owl-img img-fluid" style="width: 200px; height: 200px;" [hidden]="!listForm.controls.image_en.value" [src]="listForm.controls.image_en.value" alt="">
            <input type="file" id="editCatImg" class="owl-input" placeholder="upload your image" (change)="uploadImage(listForm.controls.image_en, $event)" name="image" />
          </div>
          <div *ngIf="listForm.controls.image_en.invalid && (listForm.controls.image_en.dirty || listForm.controls.image_en.touched)" class="alert alert-danger">
            <div *ngIf="listForm.controls.image_en.errors.required">
              Image is required.
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="">Image (Ar)</label>

          <div class="owls-upload owls-upload3 big">
            <img class="owl-img img-fluid" [hidden]="listForm.controls.image_ar.value" src="http://via.placeholder.com/200x200" alt="">
            <img class="owl-img img-fluid" style="width: 200px; height: 200px;" [hidden]="!listForm.controls.image_ar.value" [src]="listForm.controls.image_ar.value" alt="">
            <input type="file" id="editCatImg" class="owl-input" placeholder="upload your image" (change)="uploadImage(listForm.controls.image_ar, $event)" name="image" />
          </div>
          <div *ngIf="listForm.controls.image_ar.invalid && (listForm.controls.image_ar.dirty || listForm.controls.image_ar.touched)" class="alert alert-danger">
            <div *ngIf="listForm.controls.image_ar.errors.required">
              Image is required.
            </div>
          </div>
        </div>
      </div>
    </div> -->
    
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="owl-input" placeholder="Type.." required formControlName="name_en">
      <div
        *ngIf="listForm.controls.name_en.invalid && (listForm.controls.name_en.dirty || listForm.controls.name_en.touched)"
        class="alert alert-danger">
        <div *ngIf="listForm.controls.name_en.errors.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Name (Ar)</label>
      <input type="text" class="owl-input" placeholder="Type.." required formControlName="name_ar">
      <!-- Start  Errors Rolues -->

      <div
        *ngIf="listForm.controls.name_ar.invalid && (listForm.controls.name_ar.dirty || listForm.controls.name_ar.touched)"
        class="alert alert-danger">
        <div *ngIf="listForm.controls.name_ar.errors.required">
          Name (Ar) is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>


    <div class="form-group">
      <label for="">description</label>
      <textarea class="owl-input" placeholder="Type.." maxlength="250" laceholder="type"
        formControlName="description_en"></textarea>
    </div>

    <div class="form-group">
      <label for="">description (Ar)</label>
      <textarea class="owl-input" maxlength="250" placeholder="Type.." formControlName="description_ar"></textarea>
    </div>

    <div class="form-group">
      <label for="">Type</label>
      <select formControlName="type" class="owl-input">
        <option [value]="4">Products</option>
      </select>
    </div>

    <div class="form-group" *ngIf="listForm.controls.type.value == 4">
      <label for="amount">Products</label>
      <ng-select [typeahead]="productsInput$" [loading]="productsLoading" name="products" [items]="products$ | async"
        bindLabel="name" bindValue="id" placeholder="Enter Product name" formControlName="items" [multiple]="true">
      </ng-select>
    </div>

    <div class="form-sidebar-btns">
      <button class="btn btn-owls btn-rounded btn-green">Save</button>
    </div>
  </form>
</div>
