<ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar>
<div class="top-table-bar">

  <div class="row">
    <div class="col-md-8">

    </div>

    <div class="col-md-4 text-right">
      <div class="owl-btn-list">
        <!-- <button href="javascript:void(0)" class="btn btn-owls btn-rounded btn-blue2 btn-big add-new">+ New ad</button> -->
      </div>
    </div>

  </div>
</div>

<div class="table-responsive">
  <table class="table owls-table ">
    <thead>
      <tr>
        <th style="width: 180px;" scope="col">iD</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ad of ads | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
        <td>{{ad.id}}</td>
        <td>
          <p>{{ad.name_en}}</p>
        </td>
        <td>
          <span [ngSwitch]="ad.type">
            <span *ngSwitchCase="0">None</span>
            <span *ngSwitchCase="1">Product</span>
            <span *ngSwitchCase="2">Sub Category</span>
            <span *ngSwitchCase="4">Brand</span>
            <span *ngSwitchCase="5">Custom List</span>
            <span *ngSwitchCase="6">Category</span>
            <span *ngSwitchCase="7">Link</span>
            <span *ngSwitchDefault>-</span>
          </span>
        </td>

        <td>
          <a style="margin-right: 10px" (click)="viewAd(ad)" class="toggle-view-category table-view">
            <i class="icon-View"></i>
          </a>


          <!-- <a href="javascript:void(0)" (click)="editCurrentAd(ad)" class="table-view edit-new">
            <i class="icon-grey"></i>
          </a> -->



          <label class="switch" *ngIf="!ad.banner_ad && ad.id === 0">
            <input type="checkbox" value="1" [(ngModel)]="ad.active" (change)="changeActive(ad)">
            <span class="slider round"></span>
            <div class="reason-popup text-left" [hidden]="!ad.showReason">
              <textarea name="" class="owl-input" placeholder="Why Do yo want to deactivate this ad?"
                [(ngModel)]="ad.notes"></textarea>
              <button class="btn btn-owls btn-rounded btn-green2" [disabled]="!ad.notes" (click)="submitDeactivate(ad)"
                [ngClass]="{'not-allowed' : !ad.notes }">submit</button>
              <button class="btn btn-owls btn-rounded btn-blue2 cancel-check"
                (click)="cancelDeactivate(ad)">cancel</button>
            </div>
            <div class="hover-reason text-left" *ngIf="!ad.active">
              <div class="head">
                Deactivation Notes
              </div>
              <div class="body">
                {{ad.deactivation_notes}}
              </div>
            </div>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

<div class="form-sidebar view-vindor-types" id="view-category">
  <div class="head" *ngIf="currentAd">
    <span class="close" id="close-vindors1">
      <i class="icon-Exit"></i>
    </span>
    <h3>ad ID: {{currentAd.id}}</h3>

  </div>

  <div class="head-btn">
    <button id="add-vindor-types-btn" class="btn btn-owls btn-rounded btn-blue2 add-new"
      (click)="editAd(currentAd)">Edit</button>
  </div>

  <div class="details details-2" *ngIf="currentAd">

    <div>
      <div>
        <h5>Image</h5>
        <img class="owl-img img-fluid" src="{{currentAd.image_en}}" alt="">
      </div>
    </div>

    <div>
      <div>
        <h5>Image (Ar)</h5>
        <img class="owl-img img-fluid" src="{{currentAd.image_ar}}" alt="">
      </div>
    </div>

    <div>
      <div>
        <h5>Image Web</h5>
        <img class="owl-img img-fluid" src="{{currentAd.image_web}}" alt="">
      </div>
    </div>
    
    <div>
      <div>
        <h5>Image Web (AR)</h5>
        <img class="owl-img img-fluid" src="{{currentAd.image_web_ar}}" alt="">
      </div>
    </div>

    <div>
      <h5>Name</h5>
      <p>{{currentAd.name_en}}</p>
    </div>

    <div>
      <h5>Name (Ar)</h5>
      <p>{{currentAd.name_en}}</p>
    </div>

    <div>
      <h5>Type</h5>
      <P *ngIf="currentAd.type == 0"> None </P>
      <P *ngIf="currentAd.type == 1"> product </P>
      <P *ngIf="currentAd.type == 2"> Sub Category </P>
      <P *ngIf="currentAd.type == 4"> Brand </P>
      <P *ngIf="currentAd.type == 5"> Custom List </P>
      <P *ngIf="currentAd.type == 6"> Category </P>
      <P *ngIf="currentAd.type == 7"> Link </P>
    </div>

  </div>
</div>

<!-- add new ads -->
<div class="form-sidebar view-vindor-types " id="add-ads">
  <div class="head">
    <span class="close" id="close-vindors2">
      <i class="icon-Exit"></i>
    </span>
    <h3>{{(newAdsForm.value.id != null) ? "Edit" : "New"}} Ad</h3>
  </div>

  <form class="sideform" [formGroup]="newAdsForm" (ngSubmit)="onFormSubmit(newAdsForm)" novalidate>

    <div class="form-group">
      <label for="">Image</label>

      <div class="owls-upload owls-upload3 big">
        <img class="owl-img img-fluid" *ngIf="newAdsForm.get('image_en').value"
          src="{{newAdsForm.get('image_en').value}}" alt="">
        <img class="owl-img img-fluid" *ngIf="!newAdsForm.get('image_en').value"
          src="http://via.placeholder.com/328x177" alt="">
        <input type="file" id="productImg" class="owl-input" placeholder="upload your image"
          (change)="onImageSelected(newAdsForm, $event, 'image_en')" accept="image/*" />
      </div>
      <div
        *ngIf="newAdsForm.controls.image_en.invalid && (newAdsForm.controls.image_en.dirty || newAdsForm.controls.image_en.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.image_en.errors.required">
          Image Is Required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Image (Ar)</label>

      <div class="owls-upload owls-upload3 big">
        <img class="owl-img img-fluid" *ngIf="newAdsForm.get('image_ar').value"
          src="{{newAdsForm.get('image_ar').value}}" alt="">
        <img class="owl-img img-fluid" *ngIf="!newAdsForm.get('image_ar').value"
          src="http://via.placeholder.com/328x177" alt="">
        <input type="file" id="productImg" class="owl-input" placeholder="upload your image"
          (change)="onImageSelected(newAdsForm, $event, 'image_ar')" accept="image/*" />
      </div>
      <div
        *ngIf="newAdsForm.controls.image_ar.invalid && (newAdsForm.controls.image_ar.dirty || newAdsForm.controls.image_ar.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.image_ar.errors.required">
          Image (Ar) Is Required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Image Web</label>

      <div class="owls-upload owls-upload3 big">
        <img class="owl-img img-fluid" *ngIf="newAdsForm.get('image_web').value"
          src="{{newAdsForm.get('image_web').value}}" alt="">
        <img class="owl-img img-fluid" *ngIf="!newAdsForm.get('image_web').value"
          src="http://via.placeholder.com/328x177" alt="">
        <input type="file" class="owl-input" placeholder="upload your image"
          (change)="onImageSelected(newAdsForm, $event, 'image_web')" accept="image/*" />
      </div>
      <div
        *ngIf="newAdsForm.controls.image_web.invalid && (newAdsForm.controls.image_web.dirty || newAdsForm.controls.image_web.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.image_web.errors.required">
          Image Is Required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Image Web (Ar)</label>

      <div class="owls-upload owls-upload3 big">
        <img class="owl-img img-fluid" *ngIf="newAdsForm.get('image_web_ar').value"
          src="{{newAdsForm.get('image_web_ar').value}}" alt="">
        <img class="owl-img img-fluid" *ngIf="!newAdsForm.get('image_web_ar').value"
          src="http://via.placeholder.com/328x177" alt="">
        <input type="file" class="owl-input" placeholder="upload your image"
          (change)="onImageSelected(newAdsForm, $event, 'image_web_ar')" accept="image/*" />
      </div>
      <div
        *ngIf="newAdsForm.controls.image_web_ar.invalid && (newAdsForm.controls.image_web_ar.dirty || newAdsForm.controls.image_ar.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.image_web_ar.errors.required">
          Image web (Ar) Is Required.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="newAdsForm?.value?.dev_key && newAdsForm?.value?.id === 0">
      <label>Color</label>
      <input type="text" class="owl-input" formControlName="dev_key" name="dev_key" placeholder="Type here...">
      <div
        *ngIf="newAdsForm.controls.dev_key.invalid && (newAdsForm.controls.dev_key.dirty || newAdsForm.controls.dev_key.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.dev_key.errors.required">
          Color is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="amount">Name</label>
      <input type="text" class="owl-input" formControlName="name_en" name="name_en" placeholder="Type here...">
      <div
        *ngIf="newAdsForm.controls.name_en.invalid && (newAdsForm.controls.name_en.dirty || newAdsForm.controls.name_en.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.name_en.errors.required">
          Name is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="amount">Name (Ar)</label>
      <input type="text" class="owl-input" formControlName="name_ar" name="name_ar" placeholder="Type here...">
      <div
        *ngIf="newAdsForm.controls.name_ar.invalid && (newAdsForm.controls.name_ar.dirty || newAdsForm.controls.name_ar.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.name_ar.errors.required">
          Name (Ar) is required.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="">Type</label>
      <select type="text" class="owl-input" formControlName="type" name="type" (change)="onAdTypeChanged(newAdsForm)">
        <option value="10" selected disabled>Select Type</option>
        <option value="0">None</option>
        <option value="1">product</option>
        <option value="2">Subcategory</option>
        <!-- <option value="3">Medical </option> -->
        <option value="4">Brand</option>
        <option value="5">Custom List</option>
        <option value="6">Category</option>
        <option value="7">Link</option>
      </select>
      <div
        *ngIf="newAdsForm.controls.type.invalid && (newAdsForm.controls.type.dirty || newAdsForm.controls.type.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.type.errors.required">
          type Is Required.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="newAdsForm.get('type').value == 7">
      <label for="amount">Link</label>
      <input type="text" class="owl-input" formControlName="link" name="link" placeholder="Type here...">
      <div
        *ngIf="newAdsForm.controls.link.invalid && (newAdsForm.controls.link.dirty || newAdsForm.controls.link.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.link.errors.required">
          Link is required.
        </div>
      </div>
    </div>

    <div class="form-group"
      *ngIf="newAdsForm.get('type').value == 6 || newAdsForm.get('type').value == 2 || newAdsForm.get('type').value == 1">
      <label for=""> category</label>
      <select type="text" class="owl-input" (change)="onCategoryChange()" formControlName="category"
        name="category">
        <option value="" selected>Select Category</option>
        <option value="{{cat.id}}" *ngFor="let cat of categories">{{cat.name}}
          <span *ngIf="cat.active == 0" style="color: red !important"> - Deactivate </span>
        </option>
      </select>
      <div
        *ngIf="newAdsForm.controls.category.invalid && (newAdsForm.controls.category.dirty || newAdsForm.controls.category.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.category.errors.required">
          category Is Required.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="newAdsForm.get('type').value == 2 || newAdsForm.get('type').value == 1">
      <label for="">Subcategory</label>
      <select type="text" class="owl-input" (change)="onSubCategoryChange(selectedSubcategory)"
        formControlName="subCategory" name="subCategory">
        <option value="" selected>Select Sub Category</option>
        <option value="{{cat.id}}" *ngFor="let cat of sub_categories">{{cat.name}}
          <span *ngIf="cat.active == 0" style="color: red !important"> - Deactivate </span>
        </option>
      </select>
      <div
        *ngIf="newAdsForm.controls.subCategory.invalid && (newAdsForm.controls.subCategory.dirty || newAdsForm.controls.subCategory.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.subCategory.errors.required">
          sub Category Is Required.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="newAdsForm.get('type').value == 1">
      <label for="">Product</label>
      <select type="text" class="owl-input" formControlName="prod" name="prod">
        <option value="" selected disabled>Select Product</option>
        <option value="{{product.id}}" *ngFor="let product of productList">{{product.name}}</option>
      </select>
      <div
        *ngIf="newAdsForm.controls.prod.invalid && (newAdsForm.controls.prod.dirty || newAdsForm.controls.prod.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.prod.errors.required">
          product Is Required.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="newAdsForm.get('type').value == 4">
      <label for="">Brand {{brand_id}}</label>
      <select type="text" class="owl-input" required formControlName="brand" name="category">
        <option value="" selected>Select Brand</option>
        <option value="{{brand.id}}" *ngFor="let brand of brands">{{brand.name}}</option>
      </select>
      <div
        *ngIf="newAdsForm.controls.brand.invalid && (newAdsForm.controls.brand.dirty || newAdsForm.controls.brand.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.brand.errors.required">
          Brand Is Required.
        </div>
      </div>
    </div>

    <div class="form-group" *ngIf="newAdsForm.get('type').value == 5">
      <label for="">List</label>
      <select type="text" class="owl-input" formControlName="list_id" name="list_id">
        <option value="" selected>Select List</option>
        <option value="{{list.id}}" *ngFor="let list of lists">{{list.name_en}}</option>
      </select>
      <div
        *ngIf="newAdsForm.controls.list_id.invalid && (newAdsForm.controls.list_id.dirty || newAdsForm.controls.list_id.touched)"
        class="alert alert-danger">
        <div *ngIf="newAdsForm.controls.list_id.errors.required">
          List Is Required.
        </div>
      </div>
    </div>

    <div class="form-sidebar-btns">
      <button class="btn btn-owls btn-rounded btn-green">{{(newAdsForm.value.id != null) ? "Update" : "Add"}} </button>
    </div>
  </form>
</div>
