<!-- <ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar> -->

<div class="top-table-bar my-2 py-0 px-2">
  <div class="row mb-2">
    <div *ngIf="selectedMainProduct" class="col-lg-12">
      <div (click)="backToProducts()" class="d-inline-flex back-arrow ">
        <mat-icon class="mx-2">arrow_back_ios</mat-icon>
        <p>Back</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="left-search">
        <span>
          <i class="fa fa-search"></i>
        </span>
        <!--<input type="text" [(ngModel)]="filter.q" (change)="changePage(p)" class="owl-input owls-search"
          placeholder="search ...">-->
        <input (input)="search()" [(ngModel)]="searchValue" class="owl-input owls-search" placeholder="search ..."
               type="text">
      </div>
    </div>
    <div class="col-md-3  col-xs-12 text-right">
      <div class="owl-btn-list">
        <!--<button (click)="createNew()" class="btn btn-owls btn-rounded btn-blue2 btn-big add-product w-100">
          <div class="text-center" *ngIf="!selectedMainProduct">+ New product</div>
          <div class="text-center" *ngIf="selectedMainProduct">+ New Variant</div>
        </button>-->
        <button (click)="createNew()" *ngIf="selectedMainProduct" class="btn btn-owls btn-rounded btn-blue2 btn-big add-product w-100">
          <div class="text-center" *ngIf="selectedMainProduct">+ New Variant</div>
        </button>
        <button (click)="NewProductWithVariant()"  *ngIf="!selectedMainProduct" class="btn btn-owls btn-rounded btn-blue2 btn-big add-product w-100">
          <div class="text-center">+ Product With Variant</div>
        </button>
      </div>
    </div>
    <!--<div class="col-md-3  col-xs-12 text-right">
      <div class="owl-btn-list" *ngIf="!selectedMainProduct">
        <button (click)="NewProductWithVariant()" class="btn btn-owls btn-rounded btn-blue2 btn-big add-product w-100">
          <div class="text-center">+ Product With Variant</div>
        </button>
      </div>
    </div>-->
    <div class="col-md-4 col-sm-12 col-xs-12" *ngIf="!selectedMainProduct">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <select (change)="selectCategoryFilter(main_category, false)" [(ngModel)]="main_category" class="owl-input"
                    name="category" required>
              <option [value]="''" selected>Select Category</option>
              <ng-container *ngFor="let cat of categories">
                <option [value]="cat.id">
                  {{cat.name}}
                  <span *ngIf="cat.active == 0" style="color: red !important"> - Deactivate </span>
                </option>
              </ng-container>
            </select>
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <select (change)="getProductSubCategory(sub_category_id)" [(ngModel)]="sub_category_id" class="owl-input"
                    name="subCategory">
              <option [value]="''" selected>Select Sub Category</option>
              <option *ngFor="let cat of sub_categories" value="{{cat.id}}">{{cat.name}}
                <span *ngIf="cat.active == 0"> - Deactivate </span>
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8  col-sm-12 col-xs-12" *ngIf="!selectedMainProduct">
      <div class="row">
        <div class="col-md-3  col-xs-12 p-l-r-5">
          <div class="form-group">
            <a (click)="goToLink()" class=" btn btn-owls btn-rounded btn-green  btn-special">export
              CSV</a>
          </div>

        </div>
        <div class="col-md-3  col-xs-12 p-l-r-5">
          <div class="form-group ">


            <button class=" btn btn-owls btn-rounded btn-green  btn-special owl-input-file inputFile"
                    style="overflow: hidden">Import
              CSV
              <input #myInput (change)="importExcel($event)" accept=".xlsx, .xls, .csv" class="input-style" placeholder="type here "
                     type="file">
            </button>
          </div>
        </div>

        <div class="col-md-3  col-xs-12 p-l-r-5">
          <div class="form-group ">


            <button class=" btn btn-owls btn-rounded btn-green  btn-special owl-input-file inputFile"
                    style="overflow: hidden">Import
              Stock
              <input #myInputStock (change)="importStock($event)" accept=".xlsx, .xls, .csv" class="input-style" placeholder="type here "
                     type="file">
            </button>
          </div>

        </div>
        <div class="col-md-3  col-xs-12 p-l-r-5">
          <div class="form-group">
            <a (click)="exportStocks()" class=" btn btn-owls btn-rounded btn-green  btn-special">export
              Stocks</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-3">
  <div *ngIf="selectedMainProduct" class="col-lg-8">
    <h5>Main Product: {{selectedMainProduct.name}}</h5>
  </div>
</div>
<div class="table-responsive text-center fixed-table-scroll">
  <table class="table owls-table">
    <thead>
    <tr>
      <th scope="col">SKU</th>
      <th scope="col">product name</th>
      <th *ngIf="!selectedMainProduct" scope="col">category > subcat</th>
      <th *ngIf="selectedMainProduct" scope="col">Last Editor</th>
      <!-- <th  scope="col" class="hidden">creator</th> -->
      <th scope="col">Stock
      </th>
      <!--<th scope="col">main price</th>
      <th scope="col">discount price</th>-->
      <th scope="col">action</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let product of products | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }; let idx = index;">
      <td> <span class="text-danger" *ngIf="product.isDraft">(Draft) </span>{{product.sku}}</td>
      <td class="relative">{{product.name | summary : 25 }}
        <div *ngIf="product.name.length >= 25" class="hover-reason text-left">
          <!--<div class="head">
            product name
          </div>-->
          <div class="body">
            {{product.name}}
          </div>
        </div>

      </td>
      <td *ngIf="!selectedMainProduct">
        {{product?.category?.name}} >
        <br>
        {{product?.category?.sub_categories[0]?.name}}
      </td>
      <td *ngIf="selectedMainProduct">
        {{product?.last_editor?.name}}
      </td>
      <!-- <td class="hidden">{{product.creator?.name}}</td> -->
      <td class="hidden">{{product.stock ? product.stock : '0'}}</td>
      <!--<td>{{product.price}}</td>
      <td>{{product.discount_price ? product.discount_price : "-"}}</td>-->
      <td *ngIf="!product.isDraft">
        <!--<a style="margin-right: 10px" class="table-view open-show" (click)="viewProduct(product)">
          <i class="icon-View"></i>
        </a>-->
        <a (click)="getProductsVariants(product)" class="table-view open-show mx-1">
          <i class="icon-View"></i>
        </a>

        <a (click)="edit(product)" class="table-view edit-product mx-1" href="javascript:void(0)">
          <i class="icon-grey"></i>
        </a>
        <a (click)="clone(product)" class="table-view edit-product mx-1" href="javascript:void(0)">
          <i class="fa fa-copy"></i>
        </a>
        <a *ngIf="selectedMainProduct" target="_blank" class="table-view edit-product mx-1" href="{{website_url + '/products/' + product.name + '/' + selectedMainProduct.id + '?variant_id=' + product.id}}">
          <i class="fa fa-external-link"></i>
        </a>
        <label class="switch">
          <input (change)="changeActive(product)" [(ngModel)]="product.active" type="checkbox" value="1">
          <span class="slider round"></span>
          <div [hidden]="!product.showReason" class="reason-popup text-left">
              <textarea [(ngModel)]="product.notes" class="owl-input" name=""
                        placeholder="Why Do yo want to deactivate this product?"></textarea>
            <button (click)="submitDeactivate(product)" [disabled]="!product.notes"
                    [ngClass]="{'not-allowed' : !product.notes }" class="btn btn-owls btn-rounded btn-green2">submit
            </button>
            <button (click)="cancelDeactivate(product)"
                    class="btn btn-owls btn-rounded btn-blue2 cancel-check">cancel
            </button>
          </div>
          <div *ngIf="!product.active" class="hover-reason text-left">
            <div class="head">
              Deactivation Notes
            </div>
            <div class="body">
              {{product.deactivation_notes}}
            </div>
          </div>
        </label>
      </td>
      <td *ngIf="product.isDraft">
        <a (click)="editDraftProduct(product)" class="table-view edit-product mx-1" href="javascript:void(0)">
          <i class="icon-grey"></i>
        </a>
        <a (click)="removeDraftProduct(product, idx)" class="table-view edit-product mx-1" href="javascript:void(0)">
          <i class="fa fa-trash"></i>
        </a>
        <a (click)="cloneDraft(product)" class="table-view edit-product mx-1" href="javascript:void(0)">
          <i class="fa fa-copy"></i>
        </a>
      </td>
    </tr>


    </tbody>
  </table>
</div>


<ngx-spinner [fullScreen]="true" bdColor="rgba(0, 0, 0, 0.8)" color="#fff" size="medium" type="timer" >
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<!--
<ngx-spinner bdColor = "rgba(0,0,0,0)" size = "large" color = "#2dacbb" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
-->

<pagination-controls (pageChange)="pagination($event)"></pagination-controls>


<!-- view product -->
<app-view-product (closeSideBarEmit)="closeSideBar()" [@slideInOut]="viewProductSidebar"
  class="parent-editor-viewer-sidebar" [selectProductDataEdit]="selectProductDataView"></app-view-product>


<app-add-edit-product
  #productForm
  class="parent-editor-viewer-sidebar"
  (closeSideBarEmit)="closeSideBar()"
  (dataProductEmit)="addOrUpdateProduct($event)"
  [@slideInOut]="toggleAddProduct"
  [selectProductDataEdit]="selectProductData">
</app-add-edit-product>

<app-add-edit-variants
  *ngIf="toggleVariant === 'in'"
  class="parent-editor-viewer-sidebar"
  #productVariantsForm
  (closeSideBarEmit)="closeSideBar()"
  (dataProductEmit)="addOrUpdateProduct($event)"
  [@slideInOut]="toggleVariant"
  [parentProduct]="selectedMainProduct"
  [selectVariant]="selectedProductVariantData">
</app-add-edit-variants>

<app-add-product-variants
  class="parent-editor-viewer-sidebar"
  *ngIf="toggleProductVariant === 'in'"
  (closeSideBarEmit)="closeSideBar()"
  (dataProductEmit)="addOrUpdateProduct($event)"
  [@slideInOut]="toggleProductVariant"
  [selectedProduct]="selectedProductVariantBoth">
</app-add-product-variants>

<div class="modal fade" id="cloneProduct" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
          Clone Product
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        Are you sure you want to clone the product ({{currentProduct?.sku}}) ?

      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" [appLoading]="stateCloning" [disabled]='stateCloning'
          class="btn-owls btn-rounded btn-green btn-blue2" style="position: relative;"
          (click)="confirmClone()">
          Yes
        </button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2">
          no
        </button>
      </div>
    </div>
  </div>
</div>
