<ngx-loading-bar [color]="'#eb1c24'"></ngx-loading-bar>
<div class="top-table-bar" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-md-3">
      <a class="back-btn" [routerLink]="['/pages/orders']">
        <i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
    </div>

    <div class="col-md-9" *ngIf="order">
      <button [routerLink]="['/pages/print-receipt', order.id]" class="float-right btn btn-owls btn-rounded btn-green">
        print
      </button>
    </div>
  </div>
</div>

<!-- steppers -->

<!-- <div>
  <div class="row" *ngIf="order && order?.showStepper">
    <div class="offset-md-1 col-md-11">

      <ul class="top-stepper row">
        <li class="col active" *ngIf="order?.state_id != 9">
          <span></span>
          <span><i class="icon-Check"></i></span>
          <p>{{order.states[0].name}}</p>
        </li>
        <li class="col canceled incomplete" *ngIf="order?.state_id == 9">
          <span></span>
          <span><i class="icon-Exit"></i></span>
          <p>Not Paid</p>
        </li>

        <li class="col" [ngClass]="{'active': order.states[1].id }">
          <span></span>
          <span><i [ngClass]="{'icon-Check': order.states[1].id}"></i></span>
          <p>{{order.states[1].name}} </p>
        </li>

        <li class="col " [ngClass]="{'active': order.states[2].id}">
          <span></span>
          <span><i [ngClass]="{'icon-Check': order.states[2].id}"></i></span>
          <p>{{order.states[2].name}} </p>
        </li>

        <li class="col " [ngClass]="{'active': order.states[3].id}">
          <span></span>
          <span><i [ngClass]="{'icon-Check':order.states[3].id}"></i></span>
          <p>{{order.states[3].name}}</p>
        </li>
      </ul>

    </div>
  </div>

</div> -->
<div class="col-12">
  <div class="milestones-stepper" *ngIf="order">
    <ul class="row">
      <li class="col active" *ngFor="let state of order.history">
        <img src="./assets/img/available.svg" />
        <p style="margin-bottom: 0px;">{{ state.state?.name }}</p>
        <p style="margin-top: 3px;" *ngIf="state.sub_state?.name">{{ state.sub_state?.name }}</p>
        <p style="margin-top: 3px;" *ngIf="state.user?.name">{{ state.user?.name }}</p>
        <p style="margin-top: 3px;" *ngIf="order?.cancellation_reason">Cancellation reason : {{
          order?.cancellation_reason.text }}</p>
        <p style="margin-top: 3px;" *ngIf="state?.status_notes">Note : {{ state?.status_notes }}</p>
        <span>{{ state.created_at | date: "yyyy-MM-dd hh:mm a" }}</span>
      </li>
    </ul>
  </div>
</div>

<div class="block-title">
  <h4>Order Status</h4>
</div>

<div class="block" *ngIf="order">
  <div class="row">
    <div class="col-3">
      <!-- <span *ngIf="!order.order_status_editable"> {{order.order_status_name}}</span>
      <div *ngIf="order.order_status_editable"> -->
      <select class="owl-input" required name="status" [(ngModel)]="order.state_id" (ngModelChange)="
          selectStatus($event); order.previous_state = order.state_id
        ">
        <option value="" selected hidden>Select Status </option>
        <option value="{{ status.id }}" *ngFor="let status of orderStatus">{{ status.name }}
        </option>
      </select>
      <!-- </div> -->
    </div>
    <div class="col-3" *ngIf="orderSubStates.length">
      <select class="owl-input" required name="status" [(ngModel)]="order.sub_state_id">
        <option [value]="null" selected hidden>Select sub Status </option>
        <option value="{{ status.id }}" *ngFor="let status of orderSubStates">{{ status.name }}
        </option>
      </select>
    </div>
    <div clas="col-3">
      <button class="float-right btn btn-owls btn-rounded btn-green" (click)="
          changeStausInOrder(order.state_id, order.sub_state_id, order.id)
        ">
        Apply
      </button>
    </div>
  </div>
</div>

<div class="block-title">
  <h4>Order Details</h4>
</div>

<div class="block" *ngIf="order">
  <div class="row">
    <div class="col-md-5">
      <div class="block-item">
        <p>order iD</p>
        <span>{{ order.id }}</span>
      </div>

      <div class="block-item">
        <p>request time</p>
        <span>{{ order.created_at | date: "d-M-yyyy h:mm a" }}</span>
      </div>

      <div class="block-item" *ngIf="order.scheduled_at">
        <p>schedule time</p>
        <span>{{ order.scheduled_at | date: "d-M-yyyy h:mm a" }}</span>
      </div>

      <div class="block-item">
        <p>Branch</p>
        <span *ngIf="order.deliverer">{{ order.deliverer?.name }}</span>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
      <div class="block-item">
        <p>address</p>

        <span *ngIf="order?.address?.district">{{ order?.address?.district?.name }},
        </span>

        <span *ngIf="order?.address?.area">{{ order?.address?.area?.name }},
        </span>
        <span>{{ order?.address?.city?.name }}</span>
      </div>

      <div class="block-item">
        <p>Delivery time</p>
        <span *ngIf="order.state_id == 4">{{
          order.updated_at | date: "mediumTime"
          }}</span>
      </div>

      <div class="block-item">
        <p class="pRating">customer rating</p>
        <div class="rate-item">
          <bar-rating [readOnly]="true" [(rate)]="order.rate" [max]="5"></bar-rating>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="block-item">
        <p>Order Feedback</p>
        <span>{{ order.feedback }}</span>
      </div>
      <div class="block-item">
        <p>customer notes</p>
        <span>{{ order.notes }}</span>
      </div>
      <div class="block-item">
        <p>Admin notes</p>
        <span>{{ order.admin_notes }}</span>
      </div>
    </div>
  </div>
</div>

<div class="block-title">
  <h4>Product</h4>
</div>

<div class="block" *ngIf="order">
  <h6 class="copy-skus" (click)="copyInputMessage()">Copy skus</h6>
  <div *ngFor="let item of order.items; index as i">
    <div class="block-ratings">
      <p>{{ i + 1 }}</p>
      <img [src]="item?.product.image" alt="" class="owl-img" width="80" />
      <div class="content">
        <h4>{{ item.product.name }}</h4>
        <p>{{ item.product.sku }}</p>
        <p>
          Serial Number: {{ item.serial_number || "-" }}
          <a href="javascript:void(0)" class="table-view edit-product" (click)="openEditSerialNumber(item)">
            <i class="icon-grey edit-price"></i>
          </a>
        </p>
      </div>
    </div>

    <div class="qty-item">
      <p>QTY: {{ item.amount }}</p>
      <span [ngClass]="item?.discount_price !== null ? 'line-through':''">{{ item.price }} EGP</span>
      <span *ngIf="item?.discount_price !== null" style="color: #ea5859 ;">{{ item.discount_price }} EGP</span>
      <a href="javascript:void(0)" class="table-view edit-product" (click)="openEditPriceProduct(item)">
        <i class="icon-grey edit-price"></i>
      </a>
    </div>
  </div>
</div>

<div class="block-title" *ngIf="order && order.schedule">
  <h4>Recurring</h4>
</div>

<div class="block" *ngIf="order && order.schedule">
  <div class="row">
    <div class="col-md-5">
      <div class="block-item">
        <p>Repeat Every</p>
        <span *ngIf="order.schedule.interval == 1">Day</span>
        <span *ngIf="order.schedule.interval == 2">Week</span>
        <span *ngIf="order.schedule.interval == 3">Month</span>
      </div>

      <div class="block-item">
        <p>Time</p>
        <span>{{ order.schedule.time }}</span>
      </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-5">
      <div class="block-item">
        <p>Previous Repeats</p>
        <span>{{ order.reorder_count }}</span>
      </div>

      <div class="block-item">
        <p>Next Time</p>
        <span>{{ order.schedule.next_order }}</span>
      </div>
    </div>
  </div>
</div>

<div class="block-title">
  <h4>customer Details</h4>
</div>

<div class="block" *ngIf="order">
  <div class="row">
    <div class="col-md-5">
      <div class="block-item">
        <p>id</p>
        <span>{{ order?.user?.id }}</span>
      </div>
      <div class="block-item">
        <p>name</p>
        <span>{{ order?.user?.name }}</span>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <div class="block-item">
        <p>number</p>
        <span>{{ order?.user?.phone }}</span>
      </div>
      <div class="block-item">
        <p>email</p>
        <span>{{ order?.user?.email }}</span>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="block-item">
        <p> Order source</p>
        <span>{{ order?.user_agent}}</span>
      </div>
      <div class="block-item">
        <p>address</p>

        <span>{{ order?.address?.formatted_address }}
          <!-- <a *ngIf="order?.address?.lat" href="https://www.google.com/maps/search/?api=1&query={{
              order?.address?.lat
            }},{{ order?.address?.lng }}" target="_blank"><i class="fa fa-external-link"></i></a> -->
        </span>
        <a (click)="editAddress(order)" class="table-view edit-product mx-1" href="javascript:void(0)">
          <i class="icon-grey"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="block-title">
  <h4>Billing Details</h4>
</div>

<div class="block" *ngIf="order">
  <div class="row">
    <div class="col-md-4">
      <div class="block-item">
        <p>Applied Offer</p>
        <span *ngIf="order.promo">{{ order.promo.name }} -{{ order.promo.amount }}
          <span *ngIf="order.promo.type == 2">%</span><span *ngIf="order.promo.type == 1">EGP</span></span>
      </div>

      <!-- <div class="block-item">
        <p>Remaining</p>
        <span>{{ order.remaining }}</span>
      </div>
      <div class="block-item">
        <p>admin discount</p>
        <span>{{ order?.admin_discount ? order.admin_discount : "-" }}</span>
      </div> -->

      <div class="block-item">
        <p>Delivery Fees</p>
        <span>{{ order.delivery_fees }}</span>
      </div>

      <div class="block-item">
        <p>Shipment AWB</p>
        <span *ngIf="order.shipped_data"><a href="{{order.shipped_data?.shipment_url}}" target="_blank">{{
            order.shipped_data?.shipping_id }}</a></span>
        <span *ngIf="!order.shipped_data">-</span>
      </div>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
      <div class="block-item">
        <p>Payment Method</p>
        <span *ngIf="order.payment_method == 1">Cash</span>
        <span *ngIf="order.payment_method == 2">Accept</span>
        <span *ngIf="order.payment_method == 3">ValU</span>
        <!-- <span *ngIf="order.payment_method == 4">Miza</span> -->
        <span *ngIf="order.payment_method == 5">Premium</span>
      </div>

      <div class="block-item">
        <p>Item Total</p>
        <span>{{ order.invoice.total_amount | number : '1.2-2'}}</span>
      </div>

      <div class="block-item">
        <p>Discount</p>
        <span *ngIf="order.invoice.discount !== null">-{{ (order.invoice.total_amount - order.invoice.discount )| number
          : '1.2-2'}}</span>
        <span *ngIf="!order.invoice.discount === null">-</span>
        <a href="javascript:void(0)" class="table-view edit-product" (click)="openEditPriceTotal(order)">
          <i class="icon-grey edit-price"></i>
        </a>
      </div>

      <div class="block-item">
        <p>Grand Total</p>
        <span>{{ (order.amount + order.delivery_fees) | number : '1.2-2' }}</span>
      </div>
    </div>
  </div>
</div>

<div class="block-title" *ngIf="(order?.items)[0]?.returned_quantity">
  <h4>Return product</h4>
</div>

<div class="block" *ngIf="(order?.items)[0]?.returned_quantity">
  <div *ngFor="let item of order.items; index as i">
    <div *ngIf="item.returned_quantity">
      <div class="block-ratings">
        <p>{{ i + 1 }}</p>
        <img [src]="item?.product.image" alt="" class="owl-img" width="80" />
        <div class="content">
          <h4>{{ item.product.name }}</h4>
          <p>{{ item.product.sku }}</p>
        </div>
      </div>

      <div class="qty-item">
        <p>QTY: {{ item.returned_quantity }}</p>
        <span *ngIf="item?.product.discount_price === null">{{ item.product.price }} EGP</span>
        <span *ngIf="item?.product.discount_price !== null">{{ item.product.discount_price }} EGP</span>
      </div>
    </div>
  </div>
</div>

<!-- <div class="block-title">
  <h4>order milestones</h4>
</div> -->

<div class="modal fade" id="confirmOrderStatus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
          Are you sure you want to change Status this order ?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="checkup">
          notify user
          <input type="checkbox" checked="checked" name="notifyUser" [(ngModel)]="notifyUser" />
          <span class="checkmark"></span>
        </label>

        <div class="form-group" *ngIf="orderStatusId == '6'">
          <label for="">Cancellation Reason</label>
          <select name="" class="owl-input bg-white" [(ngModel)]="cancelReason">
            <option [value]="''" selected hidden>Select Cancellation Reason</option>
            <option value="{{reason.id}}" *ngFor="let reason of cancelReasons">{{reason.text}}</option>
          </select>
          <div class="alert-danger" *ngIf="cancelReasonError">
            <span>
              Cancel reason is required
            </span>
          </div>
        </div>
        <div class="form-group" *ngIf="orderStatusId == '6'">
          <label for="">Cancellation Notes</label>
          <textarea style="height: 130px;" class="owl-input" placeholder="Type.." #status_notes="ngModel"
            [(ngModel)]="status_notesText">
          </textarea>
          <div class="alert-danger" *ngIf="error_status_notes">
            <span>
              Cancel reason is required
            </span>
          </div>
          <label class="checkup"> Return To stock
            <input type="checkbox" checked="checked" name="subtract_stock" [(ngModel)]="subtract_stock">
            <span class="checkmark"></span>
          </label>
        </div>

        <!-- <div class="form-group" *ngIf="orderStatusId == '6'">
          <label for="">Status notes </label>
          <textarea style="height: 130px;" class="owl-input" placeholder="Type.."
          #status_notes="ngModel"  [(ngModel)]="status_notesText">
          </textarea>
          <div class="alert-danger" *ngIf="error_status_notes">
            <span>
              Cancel notes is required
            </span>
          </div>
        </div> -->
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn-owls btn-rounded btn-green btn-blue2" (click)="confirmChangeStatus(notifyUser)"
          [appLoading]="stateSubmitting">
          Yes
        </button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2">
          no
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderChangePriceAndDiscount" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
          Are you sure you want to change price Or discount ?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-edit-price">
          <!-- <div class="form-group"> -->
          <!-- <label for=""> Pricing</label>
            <input type="number" pattern="[0-9]+(\.[0-9][0-9]?)?" class="owl-input input-price" placeholder="Type.."
              required [min]="1" [max]="1000000">
          </div> -->

          <div class="form-group">
            <label for="">Discount Price</label>
            <input type="number" name="discount" pattern="[0-9]+(\.[0-9][0-9]?)?" class="owl-input" placeholder="Type.."
              [min]="0" [(ngModel)]="discount">
          </div>

        </form>
        <label class="checkup"> notify user
          <input type="checkbox" checked="checked" [(ngModel)]="notifyUser">
          <span class="checkmark"></span>
        </label>

      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn-owls btn-rounded btn-green btn-blue2" (click)="submitItemUpdate()">
          Yes
        </button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2">
          no
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="orderChangePriceTotal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
          Are you sure you want to change price Or discount ?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-edit-price">

          <div class="form-group">
            <label for=""> Discount
              <small> optional</small>
            </label>
            <input type="number" name="invoice_discount" pattern="[0-9]+(\.[0-9][0-9]?)?" class="owl-input"
              placeholder="Type.." [min]="0" [(ngModel)]="invoiceDiscount">
          </div>

        </form>
        <label class="checkup"> notify user
          <input type="checkbox" checked="checked" [(ngModel)]="notifyUser">
          <span class="checkmark"></span>
        </label>

      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn-owls btn-rounded btn-green btn-blue2" (click)="submitInvoiceUpdate()">
          Yes
        </button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2">
          no
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="orderChangeSerial" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">
          Update Item Serial Number
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form class="form-edit-price">
          <!-- <div class="form-group"> -->
          <!-- <label for=""> Pricing</label>
            <input type="number" pattern="[0-9]+(\.[0-9][0-9]?)?" class="owl-input input-price" placeholder="Type.."
              required [min]="1" [max]="1000000">
          </div> -->

          <div class="form-group">
            <label for="">Serial Number</label>
            <input type="text" name="serial_number" class="owl-input" placeholder="Type.." [(ngModel)]="serialNumber">
          </div>

        </form>

      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn-owls btn-rounded btn-green btn-blue2" (click)="submitItemSerialUpdate()">
          Yes
        </button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2">
          no
        </button>
      </div>
    </div>
  </div>
</div>

<app-add-edit-address #addressForm (closeModalEmit)="closeAddressModal($event)" [selectedAddress]="selectedAddress"
  [selectedOrder]="selectedOrder">
</app-add-edit-address>
