<!-- <ngx-loading-bar [color]="'#007C41'"></ngx-loading-bar> -->

<div class="top-table-bar">

  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="left-search">
        <span>
          <i class="fa fa-search"></i>
        </span>
        <input type="text" [(ngModel)]="searchTerm" name="searchTerm" class="owl-input owls-search" placeholder="search ...">
      </div>
    </div>


    <div class="col-md-3  col-xs-12 text-right">
      <div class="owl-btn-list">
        <button class="btn btn-owls btn-rounded btn-blue2 btn-big w-100" (click)="toggleMenu(null)"
          style="margin-left: 0px;">+ New Custom List</button>
      </div>
    </div>

  </div>
</div>


<!-- Tabel -->
<div class="table-responsive text-center">
  <table class="table owls-table">
    <thead>
      <tr>
        <th scope="col">List Name</th>
        <th scope="col">Type</th>
        <th scope="col">Product Count</th>
        <th scope="col">Creation Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of lists  | paginate:  { itemsPerPage: 20, currentPage: p, totalItems: total }">

        <td class="relative">
          {{(list.name_en.length >= 25) ? (list.name_en | slice:0:25)+'...' : list.name_en }}
          <div class="hover-reason text-left" *ngIf="list.name_en.length >= 25">
            <div class="head">
              list name
            </div>
            <div class="body">
              {{list.name_en}}
            </div>
          </div>

        </td>
        <td>
          <span [ngSwitch]="list.type">
            <span *ngSwitchCase="1">Category</span>
            <span *ngSwitchCase="2">Subcategory</span>
            <span *ngSwitchCase="3">Brand</span>
            <span *ngSwitchCase="4">Product</span>
            <span *ngSwitchCase="5">Tags</span>
            <span *ngSwitchDefault>-</span>
          </span>
        </td>
        <td>{{list.products.length }}</td>

        <td class="hidden">{{list.created_at | date : "yyyy-MM-dd hh:mm a"}}</td>
        <td>
          <a style="margin-right: 10px" class="table-view open-show" (click)="viewList(list)">
            <i class="icon-View"></i>
          </a>


          <a href="javascript:void(0)" class="table-view edit-product" (click)="toggleMenu(list)">
            <i class="icon-grey"></i>
          </a>



          <!-- <label class="switch">
            <input type="checkbox" value="1" [(ngModel)]="list.active" (change)="changeActive(list, $event)">
            <span class="slider round"></span>
            <div class="reason-popup text-left" [hidden]="!list.showReason">
              <textarea name="" class="owl-input" placeholder="Why Do yo want to deactivate this list?"
                [(ngModel)]="list.notes"></textarea>
              <button class="btn btn-owls btn-rounded btn-green2" [disabled]="!list.notes"
                (click)="submitDeactivate(list)">submit</button>
              <button class="btn btn-owls btn-rounded btn-blue2 cancel-check"
                (click)="cancelDeactivate(list)">cancel</button>
            </div>
            <div class="hover-reason text-left" *ngIf="!list.active">
              <div class="head">
                Deactivation Notes
              </div>
              <div class="body">
                {{list.deactivation_notes}}
              </div>
            </div>
          </label> -->
        </td>
      </tr>


    </tbody>
  </table>
</div>
<img src="./assets/img/loading-table.svg" *ngIf="loading" class="img-loading">
<h4 class="text-center" *ngIf="productIsEmpty">No Option</h4>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<app-view-list (closeSideBarEmit)="closeSideBar()" [@slideInOut]="viewOptionSidebar" [listData]="currentList">
</app-view-list>
<app-add-edit-list (dataOptionEmit)="addOrUpdateOption($event)" (closeSideBarEmit)="closeSideBar()" [@slideInOut]="toggleListForm" [listData]="selectOptionData">
</app-add-edit-list>
