<div class="top-table-bar">

  <div class="row">
    <div class="col-md-8">
      <div class="left-search">
        <span>
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="owl-input owls-search" placeholder="search ..." [(ngModel)]="searchTerm">
      </div>
    </div>

    <div class="col-md-4 text-right">
      <div class="owl-btn-list">
        <button class="btn btn-owls btn-rounded btn-green btn-big add-new"> + New admin</button>
      </div>
    </div>

  </div>
</div>

<div class="table-responsive">
  <table class="table owls-table text-center">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">creation date</th>
        <th scope="col">Roles</th>
        <th scope="col">email address</th>
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>

      <tr
        *ngFor="let admin of admins  | paginate: { id: 'p1', itemsPerPage: 10,currentPage: p, totalItems: admins.length }">
        <td scope="row"> {{admin.name}} </td>
        <td scope="row"> {{admin.created_at | date : "yyyy-MM-dd hh:mm a"}} </td>
        <td><span *ngIf="admin.roles.length">{{admin.roles[0].name}}</span></td>
        <td>{{admin.email}}</td>
        <td>
          <a href="javascript:void(0)" (click)="editAdmin(admin)" class="edit-new table-view">
            <i class="icon-grey"></i>
          </a>
          <label class="switch">
            <input type="checkbox" value="1" [(ngModel)]="admin.active" (change)="changeActive(admin, $event)">
            <span class="slider round"></span>
            <div class="reason-popup text-left" [hidden]="!admin.showReason">
              <textarea name="" class="owl-input" placeholder="Why Do yo want to deactivate this admin?"
                [(ngModel)]="admin.notes"></textarea>
              <button class="btn btn-owls btn-rounded btn-green2" [disabled]="!admin.notes"
                [ngClass]="{'not-allowed' : !admin.notes }" (click)="submitDeactivate(admin)">submit</button>
              <button class="btn btn-owls btn-rounded btn-blue2 cancel-check"
                (click)="cancelDeactivate(admin)">cancel</button>
            </div>
            <div class="hover-reason text-left" *ngIf="!admin.active">
              <div class="head">
                Deactivation Notes
              </div>
              <div class="body">
                {{admin.deactivation_notes}}
              </div>
            </div>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<pagination-controls id="p1" (pageChange)="p = $event"></pagination-controls>

<!-- add sidebar -->
<div class="form-sidebar view-vindor-types" id="add-admin">
  <div class="head">
    <span class="close" id="close-vindors1">
      <i class="icon-Exit"></i>
    </span>
    <h3>new user</h3>
  </div>


  <form (ngSubmit)="createSubAdmin(adminForm)" [formGroup]="adminForm" novalidate autocomplete="off">
    <div class="form-group">
      <label for="">user name </label>
      <input type="text" class="owl-input" placeholder="Type here..." formControlName="name">
      <!-- Start  Errors Rolues -->
      <div *ngIf="adminForm.controls.name.invalid && (adminForm.controls.name.dirty || adminForm.controls.name.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.name.errors.required">
          Sub Admin Name is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>


    <div class="form-group">
      <label for=""> Role </label>
      <ng-select id="vendor_types" name="types" bindLabel="name" bindValue="id" [closeOnSelect]="true" required
        [items]="roles" [multiple]="false" ngDefaultControl formControlName="role_id" required>
      </ng-select>
      <!-- Start  Errors Rolues  -->
      <div
        *ngIf="adminForm.controls.role_id.invalid && (adminForm.controls.role_id.dirty || adminForm.controls.role_id.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.role_id.errors.required">
          Role is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>


    <div class="form-group">
      <label for="">email address </label>
      <input type="email" class="owl-input" placeholder="Type here..." formControlName="email">
      <!-- Start  Errors Rolues -->
      <div
        *ngIf="adminForm.controls.email.invalid && (adminForm.controls.email.dirty || adminForm.controls.email.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.email.errors.required">
          email Name is required.
        </div>
        <div *ngIf="adminForm.controls.email.errors.email">
          email not correct
        </div>
      </div>
      <!-- End Errors Rolues -->

    </div>


    <div class="form-group">
      <label for="">password</label>
      <input type="password" class="owl-input" placeholder="Type here..." formControlName="password"
        autocomplete="new-password">
      <!-- Start  Errors Rolues -->
      <div
        *ngIf="adminForm.controls.password.invalid && (adminForm.controls.password.dirty || adminForm.controls.password.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.password.errors.required">
          Password is required.
        </div>
        <div *ngIf="adminForm.controls.password.errors.minlength">
          Password is too short
        </div>
      </div>

      <!-- End Errors Rolues -->
    </div>

    <div class="btn-group">
      <button class="btn btn-owls btn-rounded btn-green" [appLoading]="submitting">save</button>
    </div>
  </form>

</div>

<!-- add sidebar -->
<div class="form-sidebar view-vindor-types " id="edit-admin">
  <div class="head">
    <span class="close" id="close-vindors2">
      <i class="icon-Exit"></i>
    </span>
    <h3>Edit User</h3>
  </div>

  <form *ngIf="adminForm" [formGroup]="adminForm" (ngSubmit)="updateSubAdmin(admin)" novalidate autocomplete="off">
    <div class="form-group">
      <label for="">User name </label>
      <input type="text" class="owl-input" placeholder="Type here..." formControlName="name">
      <!-- Start  Errors Rolues -->
      <div *ngIf="adminForm.controls.name.invalid && (adminForm.controls.name.dirty || adminForm.controls.name.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.name.errors.required">
          User Name is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for=""> Role </label>
      <ng-select name="types" bindLabel="name" bindValue="id" [closeOnSelect]="true" required [items]="roles"
        [multiple]="false" ngDefaultControl formControlName="role_id" required>
      </ng-select>
      <!-- Start  Errors Rolues  -->
      <div
        *ngIf="adminForm.controls.role_id.invalid && (adminForm.controls.role_id.dirty || adminForm.controls.role_id.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.role_id.errors.required">
          Role is required.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>

    <div class="form-group">
      <label for="">email address </label>
      <input type="email" class="owl-input" placeholder="Type here..." formControlName="email">
      <!-- Start  Errors Rolues -->
      <div
        *ngIf="adminForm.controls.email.invalid && (adminForm.controls.email.dirty || adminForm.controls.email.touched)"
        class="alert alert-danger">
        <div *ngIf="adminForm.controls.email.errors.required">
          email Name is required.
        </div>
        <div *ngIf="adminForm.controls.email.errors.email">
          email not correct
        </div>
      </div>
      <!-- End Errors Rolues -->

    </div>


    <div class="form-group">
      <label for=""> password</label>
      <input type="password" class="owl-input" placeholder="Type here..." formControlName="password">
      <!-- Start  Errors Rolues -->
      <div
        *ngIf="adminForm.controls.password.invalid && (adminForm.controls.password.dirty || adminForm.controls.password.touched)"
        class="alert alert-danger">

        <div *ngIf="adminForm.controls.password.errors.minlength">
          Password is short.
        </div>
      </div>
      <!-- End Errors Rolues -->
    </div>
    <div class="btn-group">
      <button class="btn btn-owls btn-rounded btn-green" [appLoading]="updating">save</button>
    </div>
  </form>

</div>
