<div class="left-sidebar">
  <div class="app-logo">
    <img [src]="environmentVariables.brands.logo" alt="" width="132" />
  </div>

  <nav class="side-nav accordion-group">
    <ul class="nav navbar-nav">
      <li class="side-nav-item" routerLinkActive="active">
        <a routerLink="/pages/home">
          <i
            class="icon-None"
            data-toggle="tooltip"
            data-placement="right"
            title="Dashboard"
          ></i>
          <span>dashboard</span>
        </a>
      </li>

      <li
        class="side-nav-item"
        *ngxPermissionsOnly="[
          'ADMIN',
          'View Options',
          'View Categories',
          'View Products',
          'View Brands'
        ]"
      >
        <a
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#submenu-1"
          aria-controls="submenu-2"
        >
          <i
            class="icon-None7"
            data-toggle="tooltip"
            data-placement="right"
            title="Invintory"
          ></i>
          <span>Inventory</span>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>

        <ul id="submenu-1" class="collapse">
          <li *ngxPermissionsOnly="['ADMIN', 'View Options']">
            <a routerLink="/pages/options" routerLinkActive="active">
              Options</a
            >
          </li>
          <li *ngxPermissionsOnly="['ADMIN', 'View Categories']">
            <a routerLink="/pages/categories" routerLinkActive="active">
              categories</a
            >
          </li>
          <li *ngxPermissionsOnly="['ADMIN', 'View Groups']">
            <a routerLink="/pages/groups" routerLinkActive="active"> Groups</a>
          </li>
          <li *ngxPermissionsOnly="['ADMIN', 'View Products']">
            <a routerLink="/pages/products" routerLinkActive="active">
              products</a
            >
          </li>

          <!-- <li *ngxPermissionsOnly="['ADMIN', 'View Brands']">
            <a routerLink="/pages/brands" routerLinkActive="active"> Brands</a>
          </li> -->
          <li *ngxPermissionsOnly="['ADMIN', 'View Lists']">
            <a routerLink="/pages/lists" routerLinkActive="active">
              Custom Lists</a
            >
          </li>
        </ul>
      </li>

      <li
        class="side-nav-item"
        *ngxPermissionsOnly="[
          'ADMIN',
          'View Ads',
          'View Slider',
          'View Sections'
        ]"
      >
        <a
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#store-front"
          aria-controls="submenu-2"
        >
          <i
            class="icon-None7"
            data-toggle="tooltip"
            data-placement="right"
            title="Store front"
          ></i>
          <span>Store Front</span>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>

        <ul id="store-front" class="collapse">
          <li *ngxPermissionsOnly="['ADMIN', 'View Sections']">
            <a routerLink="/pages/sections" routerLinkActive="active"
              >Sections</a
            >
          </li>
          <!-- <li *ngxPermissionsOnly="['ADMIN', 'View Ads']">
            <a routerLink="/pages/custom-ads" routerLinkActive="active">Ads</a>
          </li> -->
          <li *ngxPermissionsOnly="['ADMIN', 'View Slider']">
            <a routerLink="/pages/ads" routerLinkActive="active">Slider</a>
          </li>
        </ul>
      </li>

      <!-- <li
        class="side-nav-item"
        *ngxPermissionsOnly="[
          'ADMIN',
          'View Ads',
          'View Slider',
          'View Sections'
        ]"
        routerLinkActive="active"
      >
        <a routerLink="/pages/stores">
          <i
            class="icon-None7"
            data-toggle="tooltip"
            data-placement="right"
            title="Manage Stores"
          ></i>
          <span>Stores</span>
        </a>
      </li> -->

      <!-- <li
        class="side-nav-item"
        *ngxPermissionsOnly="['ADMIN']"
        routerLinkActive="active"
      >
        <a routerLink="/pages/static-pages">
          <i
            class="icon-None7"
            data-toggle="tooltip"
            data-placement="right"
            title="Static pages"
          ></i>
          <span>Static Pages</span>
        </a>
      </li> -->

      <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Orders']"
      >
        <a routerLink="/pages/orders">
          <i
            class="icon-None4"
            data-toggle="tooltip"
            data-placement="right"
            title="Orders"
          ></i>
          <span>Orders</span>
        </a>
      </li>

      <!-- <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN']"
      >
        <a routerLink="/pages/transactions">
          <i
            class="icon-None4"
            data-toggle="tooltip"
            data-placement="right"
            title="Transactions"
          ></i>
          <span>Online Transactions</span>
        </a>
      </li> -->

      <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Contacts']"
      >
        <a routerLink="/pages/contact-us" routerLinkActive="active">
          <i
            class="icon-None8"
            data-toggle="tooltip"
            data-placement="right"
            title="Contact us"
          ></i>
          <span>Contact us</span>
        </a>
      </li>
      <!-- <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Orders Delivery']"
      >
        <a routerLink="/pages/orders-delivery">
          <i
            class="icon-None4"
            data-toggle="tooltip"
            data-placement="right"
            title="Order delivery"
          ></i>
          <span> Orders delivery</span>
        </a>
      </li> -->
      <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Customers']"
      >
        <a routerLink="/pages/manage-customer" routerLinkActive="active">
          <i
            class="icon-None8"
            data-toggle="tooltip"
            data-placement="right"
            title="Customers"
          ></i>
          <span>Customers</span>
        </a>
      </li>

      <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Customers']"
      >
        <a routerLink="/pages/customer-request" routerLinkActive="active">
          <i
            class="icon-None8"
            data-toggle="tooltip"
            data-placement="right"
            title="Customers"
          ></i>
          <span>Customers Requests</span>
        </a>
      </li>
      <!-- <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN']"
      >
        <a routerLink="/pages/imports">
          <i
            class="fa fa-download"
            data-toggle="tooltip"
            data-placement="right"
            title="Imports"
          ></i>
          <span>Imports</span>
        </a>
      </li> -->
      <ng-container *ngIf="environmentVariables?.showPrescription">
        <li
          class="side-nav-item"
          routerLinkActive="active"
          *ngxPermissionsOnly="['ADMIN']"
        >
          <a routerLink="/pages/prescription">
            <i
              class="fa fa-sticky-note-o"
              data-toggle="tooltip"
              data-placement="right"
              title="Prescription"
            ></i>
            <span>Prescription</span>
          </a>
        </li>
      </ng-container>

      <!-- <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Customers']"
      >
        <a routerLink="/pages/menu-creator" routerLinkActive="active">
          <i
            class="icon-None"
            data-toggle="tooltip"
            data-placement="right"
            title="Menu creator"
          ></i>
          <span>Menu Creator</span>
        </a>
      </li> -->

      <!-- <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="['ADMIN', 'View Staff', 'View Cities']"
      >
        <a
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#submenu-4"
          aria-controls="submenu-4"
        >
          <i
            class="icon-None2"
            data-toggle="tooltip"
            data-placement="right"
            title="Delivery"
          ></i>
          <span>Delivery</span>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>

        <ul id="submenu-4" class="collapse">
          <li>
            <a routerLink="/pages/branches" routerLinkActive="active">
              branches
            </a>
          </li>
          <li *ngxPermissionsOnly="['ADMIN', 'View Cities']">
            <a routerLink="/pages/cities" routerLinkActive="active"> Cities </a>
          </li>
        </ul>
      </li> -->
      <ng-container *ngIf="affiliate">
        <li *ngIf="affiliate" class="side-nav-item" routerLinkActive="active">
          <a
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#Affiliate"
            aria-controls="Affiliate"
          >
            <i
              class="icon-None2"
              data-toggle="tooltip"
              data-placement="right"
              title="Affiliate"
            ></i>
            <span>Affiliate</span>
            <i class="fa fa-fw fa-angle-down pull-right"></i>
          </a>

          <ul id="Affiliate" class="collapse">
            <li *ngxPermissionsOnly="['ADMIN']">
              <a routerLink="/pages/affiliate/users" routerLinkActive="active">
                All Affiliates
              </a>
            </li>
            <li *ngxPermissionsOnly="['ADMIN']">
              <a
                routerLink="/pages/affiliate/requests-join"
                routerLinkActive="active"
              >
                Join Requests
              </a>
            </li>
            <li *ngxPermissionsOnly="['ADMIN']">
              <a
                routerLink="/pages/affiliate/withdraw-requests"
                routerLinkActive="active"
              >
                Withdraw Requests
              </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']">
              <a
                routerLink="/pages/affiliate/users-history"
                routerLinkActive="active"
              >
                Wallets History
              </a>
            </li>
          </ul>
        </li>
      </ng-container>
      <!-- <li class="side-nav-item">
        <a routerLink="/pages/reporting-center" routerLinkActive="active">
          <i class="icon-None5" data-toggle="tooltip" data-placement="right" title="dashboard"></i>
          <span> Reporting Center</span>
        </a>
      </li> -->

      <li
        class="side-nav-item"
        routerLinkActive="active"
        *ngxPermissionsOnly="[
          'ADMIN',
          'View Promos',
          'View Ads',
          'View Notifications'
        ]"
      >
        <a
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#submenu-6"
          aria-controls="submenu-6"
        >
          <i
            class="icon-None3"
            data-toggle="tooltip"
            data-placement="right"
            title="Marketing"
          ></i>
          <span>Marketing</span>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>
        <ul id="submenu-6" class="collapse">
          <li *ngxPermissionsOnly="['ADMIN', 'View Promos']">
            <a routerLink="/pages/promocodes" routerLinkActive="active">
              promocodes</a
            >
          </li>
          <li *ngxPermissionsOnly="['ADMIN', 'View Promos']">
            <a routerLink="/pages/range-promotions" routerLinkActive="active">
              Range Promotions</a
            >
          </li>
          <li *ngxPermissionsOnly="['ADMIN', 'View Promos']">
            <a routerLink="/pages/item-promotions" routerLinkActive="active">
              Item Promotions</a
            >
          </li>
          <!-- <li *ngxPermissionsOnly="['ADMIN', 'View Ads']">
            <a routerLink="/pages/ads" routerLinkActive="active">
              ads</a>
          </li> -->
          <li *ngxPermissionsOnly="['ADMIN', 'View Notifications']">
            <a routerLink="/pages/notifications" routerLinkActive="active">
              notifications</a
            >
          </li>
        </ul>
      </li>
      <ng-container *ngIf="environmentVariables.showLoyality">
        <li
          class="side-nav-item"
          routerLinkActive="active"
          *ngxPermissionsOnly="['ADMIN', 'View Rewards', 'View Gift Requests']"
        >
          <a
            routerLinkActive="active"
            data-toggle="collapse"
            data-target="#submenu-7"
            aria-controls="submenu-7"
          >
            <i
              class="icon-None3"
              data-toggle="tooltip"
              data-placement="right"
              title="{{
                environmentVariables.brandRelatedVariables.brand
              }} Stars"
            ></i>
            <span>Stars Program</span>
            <i class="fa fa-fw fa-angle-down pull-right"></i>
          </a>
          <ul id="submenu-7" class="collapse">
            <li *ngxPermissionsOnly="['ADMIN', 'View Rewards']">
              <a routerLink="/pages/stars/rewards" routerLinkActive="active"
                >Rewards</a
              >
            </li>
            <li *ngxPermissionsOnly="['ADMIN', 'View Gift Requests']">
              <a routerLink="/pages/stars/gifts" routerLinkActive="active"
                >Gift Requests</a
              >
            </li>
          </ul>
        </li>
      </ng-container>
      <!-- <ng-container *ngIf="environmentVariables?.showPrescription">
        <li class="side-nav-item" routerLinkActive="active" *ngxPermissionsOnly="['ADMIN', 'View Medical']">
          <a routerLink="/pages/medical" routerLinkActive="active">
            <i class="icon-None6" data-toggle="tooltip" data-placement="right" title="Medical Prescriptions"></i>
            <span>Medical Prescriptions</span>
          </a>
        </li>
      </ng-container> -->
      <!-- <li class="side-nav-item" routerLinkActive="active">
        <a routerLink="/pages/reports" routerLinkActive="active">
          <i
            class="icon-None8"
            data-toggle="tooltip"
            data-placement="right"
            title="Reports"
          ></i>
          <span>Reports</span>
        </a>
      </li> -->
      <!-- <li class="side-nav-item" routerLinkActive="active">
        <a routerLink="/pages/admin-log" routerLinkActive="active">
          <i
            class="icon-None8"
            data-toggle="tooltip"
            data-placement="right"
            title="Reports"
          ></i>
          <span>Admin Log</span>
        </a>
      </li> -->
      <li class="side-nav-item" *ngxPermissionsOnly="['ADMIN', 'View Admins']">
        <a
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#subAdmins"
          aria-controls="subAdmins"
        >
          <i
            class="icon-None8"
            data-toggle="tooltip"
            data-placement="right"
            title="Sub Admins"
          ></i>
          <span>Sub Admins</span>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>

        <ul id="subAdmins" class="collapse">
          <li>
            <a
              routerLink="/pages/sub-admins/admins-roles"
              routerLinkActive="active"
            >
              roles</a
            >
          </li>
          <li>
            <a
              routerLink="/pages/sub-admins/admins-users"
              routerLinkActive="active"
            >
              Admins</a
            >
          </li>
        </ul>
      </li>
      <li
        class="side-nav-item"
        *ngxPermissionsOnly="['ADMIN', 'View Settings']"
      >
        <a
          routerLinkActive="active"
          data-toggle="collapse"
          data-target="#configuration"
          aria-controls="configuration"
        >
          <i
            class="icon-None6"
            data-toggle="tooltip"
            data-placement="right"
            title="Configuration "
          ></i>
          <span>configuration </span>
          <i class="fa fa-fw fa-angle-down pull-right"></i>
        </a>

        <ul id="configuration" class="collapse">
          <li class="side-nav-item" routerLinkActive="active">
            <a routerLink="/pages/settings" routerLinkActive="active">
              <span> settings</span>
            </a>
          </li>
          <li
            class="side-nav-item"
            routerLinkActive="active"
            *ngxPermissionsOnly="['ADMIN', 'View Order States']"
          >
            <a routerLink="/pages/order-status">
              <span>Order Status</span>
            </a>
          </li>
          <li
            class="side-nav-item"
            routerLinkActive="active"
            *ngxPermissionsOnly="['ADMIN', 'View Order States']"
          >
            <a routerLink="/pages/filemanager">
              <span>File Manager</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
