<div class="login-wrap">
  <div class="bg-blue"></div>
  <div class="container">
    <div class="login-image text-center">
      <img *ngIf="environmentVariables" [src]="environmentVariables.brands.logoWhite" width="150" alt="BrandLogo">
    </div>
    <div class="login-form-up">
      <form (submit)="resetPassword()" ngNativeValidate>
        <h4>Reset Password</h4>

        <div class="form-group">
          <label for="">New Password</label>
          <input [(ngModel)]="password" minlength="6" name="password" type="password" class="owl-input" placeholder="Password" required (change)="errorMessage = false">
        </div>

        <div class="form-group">
          <label for="">Confirm New Password</label>
          <input [(ngModel)]="password_confirm" minlength="6" name="password_confirm" type="password" class="owl-input" placeholder="Password Confirmation" required (change)="errorMessage = false">
        </div>

        <p class="text-danger" *ngIf="errorMessage">{{errorMessage}}</p>

        <div class="login-footer">
          <button type="submit" class=" pull-right btn btn-owls  btn-rounded btn-green">Log in</button>
        </div>
      </form>
    </div>
  </div>
</div>
