<div class="form-sidebar view-vindor-types" id="show-p-details">
  <div class="head">
    <span class="close" id="close-vindors4" (click)="closeSideBar()">
      <i class="icon-Exit"></i>
    </span>
    <h3>View staff delivery</h3>
  </div>
  <div class="details details-2" *ngIf="dataView">

    <div>
      <h5>Option name </h5>
      <p>{{dataView.name}}</p>
    </div>


    <div>
      <h5>Creation Date</h5>
      <p>{{(dataView?.created_at) ?  (dataView?.created_at  | date : "yyyy-MM-dd hh:mm a")  : '-' }}</p>
    </div>

    <div>
      <h5>Description</h5>
      <p>{{dataView?.address}}</p>
    </div>
    <div>
      <h5>City</h5>
      <p>{{dataView?.delivererProfile?.city?.name}}</p>
    </div>
    <div>
      <h5>Area</h5>
      <p>{{dataView?.delivererProfile?.area?.name}}</p>
    </div>
    <div>
      <h5>districts</h5>
      <p *ngFor="let districts of dataView?.delivererProfile?.districts">
        • {{districts?.name}}
      </p>
    </div>
  </div>
</div>
