<ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar>
<div class="top-table-bar">

  <div class="row">
    <div class="col-md-4">
      <div class="left-search">
        <span>
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="owl-input owls-search" placeholder="search ..." [(ngModel)]="filter.term"
          (keydown)="changePage(1)">
      </div>
    </div>



    <div class="col-md-2">
      <select name="" class="owl-input bg-white" [(ngModel)]="filter.state_id" (change)="changePage(p)">
        <option value="">All Orders</option>
        <option value="1">Created</option>
        <option value="2">Processing</option>
        <option value="8">Prepared</option>
        <option value="3">Delivering</option>
        <option value="4">Completed</option>
        <option value="5">Investigating</option>
        <option value="6">Cancelled</option>
        <option value="9">Not Paid</option>
        <option value="7">Returned</option>
      </select>
    </div>

    <div class="col-md-2 col-sm-10">
      <mat-form-field>
        <input matInput #mdate placeholder="Date From" [satDatepicker]="picker2" [value]="date"
          [(ngModel)]="filter.date_from" (dateChange)="changePage(1)">
        <sat-datepicker #picker2 [rangeMode]="false">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
    <div class="col-md-1 col-sm-1" style="max-width: 70px;">
      <a class="clear-date" href="javascript:void(0)" (click)="clearDateFrom()"><i class="icon-Exit"></i></a>
    </div>

    <div class="col-md-2 col-sm-10">
      <mat-form-field>
        <input matInput #mdate placeholder="Date To" [satDatepicker]="pickerTo" [value]="date"
          [(ngModel)]="filter.date_to" (dateChange)="changePage(1)">
        <sat-datepicker #pickerTo [rangeMode]="false">
        </sat-datepicker>
        <sat-datepicker-toggle matSuffix [for]="pickerTo"></sat-datepicker-toggle>
      </mat-form-field>
    </div>
    <div class="col-md-1 col-sm-1" style="max-width: 70px;">
      <a class="clear-date" href="javascript:void(0)" (click)="clearDateTo()"><i class="icon-Exit"></i></a>
    </div>

    <div class="col-md-2 col-sm-1" style="padding-top: 21px; ">
      <label class="container">Hide Scheduled
        <input type="checkbox" class="form-control checkbox-style" name="hide_scheduled" id="hide_scheduled" [value]="1"
          [(ngModel)]="filter.hide_scheduled" (change)="changePage(1)">
        <span class="checkmark"></span>
      </label>
      <!-- <label style="color: rgba(0, 61, 97, 0.47);" for="hide_scheduled"></label> -->
    </div>
    <div class="col-md-3  col-xs-12">
      <div class="form-group">
        <a class=" btn btn-owls btn-rounded btn-green  btn-special" target="_blank" href="{{exportProductsUrl}}">Export
          Products Sales</a>
      </div>
    </div>
    <!-- <div class="col-md-3  col-xs-12">
      <div class="form-group">
        <a class=" btn btn-owls btn-rounded btn-green  btn-special" target="_blank" href="{{exportUrl}}">Export All Orders</a>
      </div>
    </div> -->
    <div class="col-md-1" style="padding-top: 15px;">
      <a href="{{exportUrl}}" target="_blank"><img src="./assets/img/export.png" style="width: 30px" alt=""></a>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table owls-table" *ngIf="orders.length">
    <thead>
      <tr>
        <th scope="col">order iD</th>
        <th scope="col"> user name</th>
        <th scope="col"> order time
          <!-- <i class="fa fa-angle-down"></i> -->
        </th>
        <th scope="col"> total amount
          <!-- <i class="fa fa-angle-down"></i> -->
        </th>
        <th scope="col"> First time
        </th>
        <th>Recurring</th>
        <th style="text-align: center;" scope="col"> status
          <!-- <i class="fa fa-angle-down"></i> -->
        </th>
        <th scope="col"> sub status </th>

        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>

      <tr
        *ngFor="let order of orders | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }; let i = index">
        <td scope="row">{{order.id}}</td>
        <td>{{order.user?.name}}</td>
        <td>
          <span *ngIf="order.scheduled_at">{{order.scheduled_at | date: 'd-M-yyyy  h:mm a'}}</span>
          <span *ngIf="!order.scheduled_at">{{order.created_at | date: 'd-M-yyyy  h:mm a'}}</span>
        </td>

        <td>{{order.amount}}</td>
        <td>no / yes</td>
        <td>
          <span *ngIf="order.schedule">
            <span *ngIf="order.schedule.interval == 1">Daily</span>
            <span *ngIf="order.schedule.interval == 2">Weekly</span>
            <span *ngIf="order.schedule.interval == 3">Monthly</span>
          </span>
          <span *ngIf="order.parent_id">
            <a [routerLink]="['/pages/orders/order-details', order.parent_id]"
              class="table-view">{{order.parent_id}}</a>
          </span>
          <span *ngIf="!order.schedule && !order.parent_id && !order.scheduled_at">-</span>
          <span *ngIf="order.scheduled_at">Later</span>
        </td>
        <!--
        <td style="text-align: center;">

          <button *ngIf="order.state_id == 2" class="tb-btn" [ngClass]="{'color-yellow': order.state_id == 2}" (click)="openSideView(order)">Processing</button>
          <button *ngIf="order.state_id == 3" class="tb-btn" [ngClass]="{'color-blue': order.state_id == 3}" (click)="openSideView(order)">Delivering</button>
          <button *ngIf="order.state_id == 4" class="tb-btn" [ngClass]="{'color-green': order.state_id == 4}">Completed</button>
          <button *ngIf="order.state_id == 5" class="tb-btn" [ngClass]="{'color-purple': order.state_id == 5}" (click)="openSideView(order)">Investigating</button>
          <button *ngIf="order.state_id == 6" class="tb-btn" [ngClass]="{'color-red': order.state_id == 6}">Cancelled</button>
          <button *ngIf="order.state_id == 7" class="tb-btn" [ngClass]="{'color-red': order.state_id == 7}" (click)="openSideView(order)">Returned</button>
          <button *ngIf="order.state_id == 8" class="tb-btn" [ngClass]="{'color-blue': order.state_id == 8}" (click)="openSideView(order)">Prepared</button>
        </td> -->
        <td>
          <!-- <select class="owl-input" formControlName="area_id" required name="area_id" (change)="selectArea($event)"> -->
          <select class="owl-input" required name="status" [(ngModel)]="order.state_id"
            (change)="selectStatus($event.target.value, order , i); openPopupConfirmStatus(order.state_id, 1)">
            <option value="" selected hidden>Select Status </option>
            <option value="{{status.id}}" *ngFor="let status of order.order_status">{{status.name}}
            </option>
          </select>

        </td>
        <td>
          <select class="owl-input" required name="status" [(ngModel)]="order.sub_state_id"
            (change)="openPopupConfirmStatus($event.target.value, 2)">
            <option [value]="" selected hidden>Select sub Status </option>
            <option value="{{status.id}}" *ngFor="let status of order?.sub_states">{{status.name}}
            </option>
          </select>


        </td>
        <td>
          <!-- <a [routerLink]="['/pages/orders/order-details', order.id]" class="table-view">
            <i class="icon-View"></i>
          </a>
          <a *ngIf="order.state_id == 1 || order.state_id == 2 || order.state_id == 5" href="javascript:void(0)"
            data-toggle="modal" data-target="#removePopUp" (click)="promtCancel(order)"
            class="toggle-view-category table-remove">
            <i class="icon-Exit"></i>
          </a> -->

          <select class="owl-input" required name="status" (change)="openPopupAction($event.target.value, order)">
            <option [value]="" selected hidden> Action </option>
            <option [value]="1"> Assign </option>
            <option [value]="2"> Order details </option>
            <option [value]="3">Edit order</option>
            <option [value]="4" *ngIf="order.state_id == 1 || order.state_id == 2 || order.state_id == 5"> Cancel order
            </option>
          </select>
          <div class="tb-assign">

            <!-- <button class="tb-btn bg-blue" (click)="getDeliverers(order); order.showPopup = 1;"
              *ngIf="order.state_id == 1">assign</button> -->
            <!-- <button class="tb-btn color-red" *ngIf="order.state_id == 9">Not Paid</button> -->

            <div class="edit-out delevaryman-popup" *ngIf="order.showPopup">
              <div class="close" (click)="order.showPopup = 0">
                <i class="icon-Exit"></i>
              </div>
              <div class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input type="text" class="owl-input owls-search" placeholder="search ..." [(ngModel)]="listSearch">
              </div>

              <div class="delivary-list">
                <ul class="list-unstyled">

                  <li class="media" *ngFor="let user of availableDeliverers | stringFilter: listSearch"
                    (click)="selectDeliverer(user)">
                    <img width="65" height="65" *ngIf="user.deliverer_profile.image" class="mr-3 img-circle"
                      src="{{user.deliverer_profile.image}}" alt="">
                    <img height="65" width="65" *ngIf="!user.deliverer_profile.image" class="img-circle"
                      src="./assets/img/profile.png" alt="">
                    <div class="media-body">
                      <img src="assets/img/available2.svg" alt="" *ngIf="user.selected">
                      <h5 class="">{{user.name}}</h5>
                      <span>{{ user.last_active | amTimeAgo }}</span>
                    </div>
                  </li>

                </ul>
              </div>
              <button class="btn btn-owls btn-rounded btn-blue2">assign</button>
            </div>

          </div>
        </td>
      </tr>

    </tbody>
  </table>
  <h4 class="text-center" *ngIf="search && orders.length == 0">There are no Orders</h4>
</div>
<pagination-controls (pageChange)="changePage($event)"></pagination-controls>



<!-- cancel  Popup-->
<div class="modal fade" id="removePopUp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">are you sure to cancel this order?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer" style="justify-content: center;
      ">
        <button type="button" class="btn-owls btn-rounded btn-green  btn-blue2" (click)="cancelOrder()">Yes</button>
        <button type="button" data-dismiss="modal"
          class="btn-owls btn-rounded btn-green btn-green btn-red2 ">No</button>
      </div>
    </div>
  </div>
</div>




<!-- return for cancel sidebar Popup-->
<div class="modal fade" id="removePopUp3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to return this order ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-owls btn-rounded  btn-green btn-blue2" (click)="returnOrder()">Return
          Order</button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2 ">close </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="confirmOrderStatus" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="typeStatusPopup == 1" id="exampleModalLabel" style="text-align: center;
        ">Are you sure you want to change Status this order ?</h5>
        <h5 class="modal-title" *ngIf="typeStatusPopup == 2" id="exampleModalLabel" style="text-align: center;
        ">Are you sure you want to change sub Status this order ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="checkup" *ngIf="typeStatusPopup == 1"> notify user
          <input type="checkbox" checked="checked" [(ngModel)]="notifyUser">
          <span class="checkmark"></span>
        </label>
      </div>
      <div class="modal-footer" style="    justify-content: center; ">

        <button type="button" class="btn-owls btn-rounded btn-green   btn-blue2"
          (click)="changeStatus(notifyUser,typeStatusPopup)">Yes</button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-red2">no </button>
      </div>
    </div>
  </div>
</div>


<div class="form-sidebar view-vindor-types" id="view-deactive">
  <div class="head" *ngIf="currentOrder">
    <span class="close" id="close-vindors4">
      <i class="icon-Exit"></i>
    </span>
    <h3>Order #{{currentOrder.id}}</h3>
  </div>

  <div class=" details details-2" *ngIf="currentOrder">

    <div>
      <div class="customer-det">
        <img src="{{currentOrder.deliverer.deliverer_profile.image}}" alt="" width="50" height="50">
        <div class="content">
          <p>{{currentOrder.deliverer.name}}</p>
          <h5>{{currentOrder.deliverer.phone}}</h5>
          <span class="toggle-delevary2"
            *ngIf="currentOrder.state_id == 1 || currentOrder.state_id == 2 || currentOrder.state_id == 5 || currentOrder.state_id == 8">
            <i class="icon-grey" (click)="currentOrder.showViewPopup = 1; getDeliverers(currentOrder)"></i>
          </span>

          <div class="edit-out delevaryman-popup" *ngIf="currentOrder.showViewPopup">
            <div class="close" (click)="currentOrder.showViewPopup = 0">
              <i class="icon-Exit"></i>
            </div>
            <div class="inner-addon left-addon">
              <i class="fa fa-search"></i>
              <input type="text" class="owl-input owls-search" placeholder="search ..." [(ngModel)]="viewFilter">
            </div>

            <div class="delivary-list">
              <ul class="list-unstyled">

                <li class="media" *ngFor="let user of availableDeliverers | stringFilter: viewFilter"
                  (click)="selectDeliverer(user)">
                  <img width="65" height="65" class="mr-3 img-circle" src="{{ user.delivererProfile?.image }}" alt="">
                  <div class="media-body">
                    <img src="assets/img/available.svg" alt="" *ngIf="user.selected">
                    <h5 class="">{{user.name}}</h5>
                    <span>{{ user.last_active | amTimeAgo }}</span>
                  </div>
                </li>

              </ul>
            </div>
            <button class="btn btn-owls btn-rounded btn-green" (click)="assignDeliverer(currentOrder)">Switch</button>
          </div>

        </div>
        <div class="date">
          Deliverer ID: {{currentOrder.deliverer.id}}
        </div>
      </div>
    </div>

    <div class="order-report">

      <div *ngIf="currentOrder.state_id == 1 || currentOrder.state_id == 2 || currentOrder.state_id == 5">
        <i class="fa fa-trash trash-side" *ngIf="!showDelete" (click)="toggleDelete()"></i>
      </div>


      <div *ngIf="hide">
        <p>Order Report -
          <span>{{currentOrder.created_at | amTimeAgo}}</span>
        </p>
      </div>

      <div class="delete-dets" *ngIf="showDelete">
        <div class="div">
          <span class="delete" (click)="deleteItems()" *ngIf="getDeleteCount() > 0">delete</span>
          <span class="cancel" (click)="toggleDelete()">cancel</span>
        </div>
        <p><span>({{getDeleteCount()}})</span> selected </p>
      </div>
    </div>
    <div class="order-list">

      <div class="item" *ngFor="let item of currentOrder.items; index as i">
        <img class="owl-img" src="{{item.product.image}}" alt="" width="45" height="45">
        <img *ngIf="!item.missing" src="./assets/img/available.svg" alt="">
        <img *ngIf="item.missing" src="./assets/img/unavailable.svg" alt="">
        <h4 class="relative">{{item.product.name | summary :
          25}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; x{{item.amount}}
          <div class="hover-reason text-left" *ngIf="item.product.name.length >= 25">
            <div class="head">
              product name
            </div>
            <div class="body">
              {{item.product.name}}
            </div>
          </div>

        </h4>



        <label class="checkup" *ngIf="showDelete">
          <input type="checkbox" checked="checked" [(ngModel)]="item.remove" name="remove{{i}}">
          <span class="checkmark"></span>
        </label>
      </div>

      <!-- <div class="item">
        <img class="owl-img" src="http://via.placeholder.com/45x45" alt="" width="45" height="45">
        <img src="/assets/img/unavailable.svg" alt="">
        <h4>burger</h4>

        <label class="checkup" *ngIf="show">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>

      </div> -->
    </div>

    <div>
      <button class="add-item-btn" (click)="toggleProductSelect()"
        *ngIf="currentOrder.state_id == 1 || currentOrder.state_id == 2 || currentOrder.state_id == 5">+
        Add New Product</button>

      <div class="add-prod">

        <div class="head">
          <div class="close" (click)="toggleProductSelect()">
            <i class="icon-Exit"></i>
          </div>
          <div class="left-addon">
            <i class="fa fa-search"></i>
            <input type="text" class="owl-input owls-search" placeholder="search ..." [(ngModel)]="productTerm">
          </div>

          <select name="" class="owl-input" (change)="loadSubcategories(selectedCategory)"
            [(ngModel)]="selectedCategory">
            <option value="{{cat.id}}" *ngFor="let cat of categories">{{cat.name}}</option>
          </select>

          <select name="" class="owl-input" (change)="loadProducts(selectedSubcategory)"
            [(ngModel)]="selectedSubcategory">
            <option value="{{cat.id}}" *ngFor="let cat of sub_categories">{{cat.name}}</option>
          </select>
        </div>

        <div class="order-list">
          <div class="item" *ngFor="let product of product_list | stringFilter: productTerm">
            <div class="float-right">
              <span>
                <img src="./assets/img/collapse.svg" alt="" (click)="removeAmount(product)">
              </span>
              <b>{{product.amount}}</b>
              <span>
                <img src="./assets/img/Expand.svg" alt="" (click)="addAmount(product)">
              </span>
              <img src="./assets/img/available.svg" style="
              position: absolute;
              left: 30px;
              top: 30px;
          " alt="" *ngIf="product.amount > 0">
            </div>

            <img class="owl-img" src="{{product.image}}" alt="" width="45" height="45">
            <div class="content">
              <h4 class="relative">{{product.name | summary : 15}}
                <div class="hover-reason text-left" *ngIf="product.name.length >= 15">
                  <div class="head">
                    product name
                  </div>
                  <div class="body">
                    {{product.name}}
                  </div>
                </div>

              </h4>
              <span>{{product.price}}L.E</span>

            </div>
          </div>


          <!-- <div class="item">
            <div class="float-right">
              <span>
                <img src="/assets/img/collapse.svg" alt="">
              </span>
              <b>2</b>
              <span>
                <img src="/assets/img/Expand.svg" alt="">
              </span>
              <img src="/assets/img/available.svg" alt="">
            </div>

            <img class="owl-img" src="http://via.placeholder.com/45x45" alt="" width="45" height="45">
            <div class="content">
              <h4>tomatos</h4>
              <span>$price</span>
            </div>
          </div> -->


        </div>

        <button class="btn btn-owls  btn-rounded btn-green" (click)="addProducts()">add</button>
      </div>


      <div class="btn-group"
        *ngIf="currentOrder.state_id == 1 || currentOrder.state_id == 2 || currentOrder.state_id == 5">
        <button class="btn btn-owls  btn-rounded btn-green" *ngIf="currentOrder.state_id == 5"
          (click)="proceedOrder(currentOrder)">Proceed</button>
        <button data-toggle="modal" data-target="#removePopUp" class="btn btn-owls  btn-rounded btn-red2"
          (click)="promtCancel(currentOrder)">cancel</button>
      </div>

      <div class="btn-group" *ngIf="currentOrder.state_id == 8 || currentOrder.state_id == 3">
        <button data-toggle="modal" data-target="#removePopUp3" class="btn btn-owls  btn-rounded btn-green"
          (click)="promtReturn(currentOrder)">return</button>
      </div>

      <div class="customer-details">
        <p>CUSTOMER DETAILS</p>

        <div class="head">
          <!-- <img class="img-circle" width="45" height="45" src="http://via.placeholder.com/45x45" alt=""> -->
          <h4>{{currentOrder.user.name}}</h4>
        </div>
        <div>
          <p>Phone Number</p>
          <h4>{{currentOrder.user.phone}}</h4>
        </div>

        <div>
          <p>Email Address</p>
          <h4>{{currentOrder.user.email}}</h4>
        </div>

        <div>
          <p>Customer Address</p>
          <h4>{{currentOrder.address.address}}</h4>
        </div>

      </div>

    </div>
  </div>
</div>
