<!-- <ngx-loading-bar [color]="'#007C41'"></ngx-loading-bar> -->

<div class="top-table-bar">

  <div class="row">
    <div class="col-md-9 col-sm-12 col-xs-12">
      <div class="left-search">
        <span>
          <i class="fa fa-search"></i>
        </span>
        <input type="text" [(ngModel)]="filter.q" (change)="changePage(p)" name="searchTerm"
          class="owl-input owls-search" placeholder="search ...">
      </div>
    </div>


    <div class="col-md-3  col-xs-12 text-right">
      <div class="owl-btn-list">
        <button class="btn btn-owls btn-rounded btn-blue2 btn-big w-100" (click)="toggleMenu(null)"
          style="margin-left: 0px;"> + New Store</button>
      </div>
    </div>

  </div>
</div>


<!-- Tabel -->
<div class="table-responsive text-center" *ngIf="!loading">
  <table class="table owls-table">
    <thead>
      <tr>
        <th scope="col">Shop name</th>
        <th scope="col">Address </th>
        <th scope="col">Area</th>
        <th scope="col">Phone</th>
        <!-- <th scope="col">Email</th> -->
        <th scope="col">Type</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let option of options"> -->
      <tr *ngFor="let branche of branches  | paginate:  { itemsPerPage: 20, currentPage: p, totalItems: total }">

        <td class="relative">
          {{(branche.shop_name.length >= 25) ? (branche.shop_name | slice:0:25)+'...' : branche.shop_name }}
          <div class="hover-reason text-left" *ngIf="branche.shop_name.length >= 25">
            <div class="head">
              Shop name
            </div>
            <div class="body">
              {{branche.shop_name}}
            </div>
          </div>

        </td>
        <td> {{branche.address}} </td>
        <td> {{branche.area}} </td>
        <!-- <td> {{(branche?.phone?.length >= 3) ? (branche.phone.splice(2)): branche.phone }}
        </td> -->
        <td>
          <span *ngIf="branche.phone != null; else dashEmpty">
            <span *ngFor="let ph of branche?.phone.slice(0,2); let i = index">
              {{ph}},
            </span>
            <span *ngIf="branche?.phone.length > 3">...</span>
          </span>
          <ng-template #dashEmpty>
            -
          </ng-template>
        </td>
        <!-- <td> {{branche?.email}} </td> -->
        <td>
          <!-- <span *ngIf="branche.type == 'footloose'">Footloose</span>
          <span *ngIf="branche.type =='crocs_outlet'"> Crocs outlet</span>
          <span *ngIf="branche.type =='crocs_concept'">Crocs concept</span> -->
          <span>{{branche.type_en}}</span>
          <!-- <span *ngFor="let districts of branche?.delivererProfile?.districts ">
            {{districts.name}}<br>
          </span> -->
        </td>

        <td>
          <a style="margin-right: 10px" class="table-view open-show" (click)="viewClinic(branche)">
            <i class="icon-View"></i>
          </a>


          <a style="margin-right: 10px" href="javascript:void(0)" class="table-view edit-product"
            (click)="toggleMenu(branche)">
            <i class="icon-grey"></i>
          </a>
          <a href="javascript:void(0)" class="table-view edit-product" (click)="removeBranche(branche)">
            <i class="icon-Exit"></i>
          </a>




          <!-- <label class="switch">
            <input type="checkbox" value="1" [(ngModel)]="branche.active" (change)="changeActive(branche, $event)">
            <span class="slider round"></span>
            <div class="reason-popup text-left" [hidden]="!branche.showReason">
              <textarea name="" class="owl-input" placeholder="Why Do yo want to deactivate this branche?"
                [(ngModel)]="branche.notes"></textarea>
              <button class="btn btn-owls btn-rounded btn-green2" [disabled]="!branche.notes"
                (click)="submitDeactivate(branche)" [ngClass]="{'not-allowed' : !branche.notes }">submit</button>
              <button class="btn btn-owls btn-rounded btn-blue2 cancel-check"
                (click)="cancelDeactivate(branche)">cancel</button>
            </div>
            <div class="hover-reason text-left" *ngIf="!branche.active">
              <div class="head">
                Deactivation Notes
              </div>
              <div class="body">
                {{branche.deactivation_notes}}
              </div>
            </div>
          </label> -->
        </td>
      </tr>


    </tbody>
  </table>
</div>
<img src="./assets/img/loading-table.svg" *ngIf="loading" class="img-loading">
<h4 class="text-center" *ngIf="productIsEmpty">No Store</h4>

<pagination-controls (pageChange)="changePage($event)"></pagination-controls>

<!-- view product -->
<app-view-store (closeSideBarEmit)="closeSideBar()" [@slideInOut]="viewOptionSidebar"
  [selectProductDataEdit]="selectOptionDataView">
</app-view-store>
<!-- Add / edit Product -->
<app-add-edit-store (dataOptionEmit)="addOrUpdateOption($event)" (closeSideBarEmit)="closeSideBar()"
  [@slideInOut]="toggleAddOption" [selectProductDataEdit]="selectOptionData"></app-add-edit-store>


<!-- cancel  Popup-->
<div class="modal fade" id="removePopUp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="text-align: center;">Are you sure to delete branch
          ({{removeBranchObj?.shop_name}})?
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer" style="justify-content: center;
      ">
        <button type="button" class="btn-owls btn-rounded btn-green  btn-blue2"
          (click)="confirmRemoveBranch()">Yes</button>
        <button type="button" data-dismiss="modal"
          class="btn-owls btn-rounded btn-green btn-green btn-red2 ">No</button>
      </div>
    </div>
  </div>
</div>
