<div class="top-table-bar">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div class="form-group">
        <select
          class="owl-input"
          name="type"
          [(ngModel)]="filter.type"
          (ngModelChange)="filterImports($event, 'type')"
        >
          <option value="" selected>Select Type</option>
          <option value="1">Brands</option>
          <option value="2">Product</option>
          <option value="3">Category</option>
          <option value="4">Option</option>
          <option value="5">Group</option>
          <option value="6">Stock</option>
          <option value="7">Lists</option>
          <option value="8">Promo</option>
          <option value="9">Cities</option>
          <option value="10">Delivers</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="form-group">
        <select
          class="owl-input"
          name="state"
          [(ngModel)]="filter.state"
          (ngModelChange)="filterImports($event, 'state')"
        >
          <option [value]="''" selected>Select State</option>
          <option value="1">Cancelled</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 col-sm-12">
      <mat-form-field class="datepicker">
        <input
          matInput
          #mdate
          placeholder="Date From"
          readonly
          (click)="pickerFrom.open()"
          [satDatepicker]="pickerFrom"
          [value]="date"
          [(ngModel)]="filter.date_from"
          (ngModelChange)="filterImports($event, 'dateFrom')"
        />
        <sat-datepicker #pickerFrom [rangeMode]="false"> </sat-datepicker>
        <sat-datepicker-toggle
          matSuffix
          [for]="pickerFrom"
        ></sat-datepicker-toggle>
      </mat-form-field>
    </div>
    <div class="col-md-3 col-sm-12">
      <mat-form-field class="datepicker">
        <input
          matInput
          #mdate
          placeholder="Date To"
          readonly
          (click)="pickerTo.open()"
          [satDatepicker]="pickerTo"
          [value]="date"
          [(ngModel)]="filter.date_to"
          (ngModelChange)="filterImports($event, 'dateTo')"
        />
        <sat-datepicker #pickerTo [rangeMode]="false"> </sat-datepicker>
        <sat-datepicker-toggle
          matSuffix
          [for]="pickerTo"
        ></sat-datepicker-toggle>
      </mat-form-field>
    </div>
    <div class="col-md-3 col-xs-12 text-right">
      <div class="owl-btn-list">
        <button
          class="btn btn-owls btn-rounded btn-blue2 btn-big add-product w-100"
        >
          <div class="text-center" (click)="openNewImport()">+New Import</div>
        </button>
      </div>
    </div>
  </div>
</div>

<div
  class="table-responsive text-center fixed-table-scroll"
  *ngIf="imports.length > 0 && !loadingSpinner"
>
  <table class="table owls-table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Type</th>
        <th scope="col">User</th>
        <th scope="col">State</th>
        <th scope="col">Progress</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let import of imports
            | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total };
          let idx = index
        "
      >
        <td>{{ import.id }}</td>
        <td>
          <span [ngSwitch]="import.type">
            <span *ngSwitchCase="1">Brands</span>
            <span *ngSwitchCase="2">Product</span>
            <span *ngSwitchCase="3">Category</span>
            <span *ngSwitchCase="4">Option</span>
            <span *ngSwitchCase="5">Group</span>
            <span *ngSwitchCase="6">Stock</span>
            <span *ngSwitchCase="7">Lists</span>
            <span *ngSwitchCase="8">Promo</span>
            <span *ngSwitchCase="9">Cities</span>
            <span *ngSwitchCase="10">Delivers</span>
            <span *ngSwitchDefault>-</span>
          </span>
        </td>
        <td>{{ import.user?.name }}</td>

        <td>
          <span [ngSwitch]="import.state.id">
            <span *ngSwitchCase="1" class="badge badge-pill badge-warning"
              >Canclled</span
            >
            <span *ngSwitchCase="2" class="badge badge-pill badge-primary"
              >Progress</span
            >
            <span *ngSwitchCase="3" class="badge badge-pill badge-success"
              >Complete
            </span>
            <span *ngSwitchCase="4" class="badge badge-pill badge-danger"
              >Error</span
            >
            <span *ngSwitchCase="5" class="badge badge-pill badge-secondary"
              >Pending</span
            >
            <span *ngSwitchDefault>-</span>
          </span>
        </td>

        <td>
          <!-- <mat-progress-bar mode="determinate" [value]="import?.progressVal"></mat-progress-bar> -->
          <progress-bar [progress]="import.progress" [color]="'#e4002c'">
          </progress-bar>
        </td>

        <td>
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Actions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item">Download File</a>
              <a class="dropdown-item">Cancel</a>
              <a class="dropdown-item">Restart</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-center">
  <img src="assets/img/loading-table.svg" *ngIf="loadingSpinner" />
</div>

<pagination-controls
  (pageChange)="pagination($event)"
  *ngIf="imports.length > 0 && !loadingSpinner"
></pagination-controls>
<h4 class="text-center" *ngIf="imports.length == 0 && !loadingSpinner">
  There are no Imports
</h4>
<div
  class="modal fade"
  id="newImport"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="importForm">
      <ng-container *ngIf="step1 && type == '0'">
        <form action="" [formGroup]="importForm" (submit)="validationForm()">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="exampleModalLabel"
              style="text-align: center"
            >
              New Import
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              <label for="">Choose Import Type</label>
              <div class="row">
                <div class="col-md-6">
                  <select
                    name=""
                    class="owl-input bg-white"
                    formControlName="type"
                    (change)="generateLink()"
                  >
                    <option [value]="'placeholder'" selected hidden>
                      Select Type
                    </option>
                    <option value="1">Brands</option>
                    <option value="2">Product</option>
                    <option value="3">Category</option>
                    <option value="4">Option</option>
                    <option value="5">Group</option>
                    <option value="6">Stock</option>
                    <option value="7">Lists</option>
                    <option value="8">Promo</option>
                    <option value="9">Cities</option>
                    <option value="10">Delivers</option>
                  </select>
                </div>
                <div
                  class="col-md-6 py-2"
                  *ngIf="this.importForm.get('type').value"
                >
                  <a target="_blank" [href]="downloadLink"
                    ><i class="fa fa-download mx-2"></i>Download Template</a
                  >
                </div>
              </div>
            </div>
            <div
              *ngIf="
                importForm.controls.type.invalid &&
                (importForm.controls.type.dirty ||
                  importForm.controls.type.touched)
              "
            >
              <div
                class="alert alert-danger"
                *ngIf="importForm.controls.type?.errors?.required"
              >
                Type Is Required
              </div>
            </div>

            <div class="form-group">
              <label for="">Select File</label>
              <div>
                <input
                  type="file"
                  formControlName="file"
                  (change)="onFileChange($event)"
                  accept=".xlsx, .xls, .csv"
                />
              </div>
            </div>
            <div
              *ngIf="
                importForm.controls.file.invalid &&
                (importForm.controls.file.dirty ||
                  importForm.controls.file.touched)
              "
            >
              <h6
                class="alert alert-danger"
                *ngIf="importForm.controls.file?.errors?.required"
              >
                File Is Required
              </h6>
            </div>
          </div>
          <h6 class="alert alert-danger" *ngIf="showMSG">Failed to import</h6>

          <div class="modal-footer" style="justify-content: center">
            <button
              type="submit"
              class="btn-owls btn-rounded btn-green btn-blue2"
            >
              Import
            </button>
            <button
              type="button"
              data-dismiss="modal"
              class="btn-owls btn-rounded btn-green btn-red2"
            >
              Cancel
            </button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '1'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your brand</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>
                Name : <span>{{ result?.brand }}</span>
              </h6>
            </li>
            <li>
              <h6>Image : <img src="{{ result?.image }}" /></h6>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '2'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Product</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>
          <ul class="list-unstyled">
            <li>
              <h6>Name :</h6>
              <span>{{ result?.name }}</span>
            </li>
            <li>
              <h6>description :</h6>
              <span>{{ result?.description }}</span>
            </li>
            <li>
              <h6>product status :</h6>
              <span [ngSwitch]="result.active">
                <span *ngSwitchCase="0">Not active</span>
                <span *ngSwitchCase="1">Active</span>
                <span *ngSwitchDefault>-</span>
              </span>
            </li>
            <li>
              <h6>type :</h6>
              <span [ngSwitch]="result.type">
                <span *ngSwitchCase="1">Brands</span>
                <span *ngSwitchCase="2">Product</span>
                <span *ngSwitchCase="3">Category</span>
                <span *ngSwitchCase="4">Option</span>
                <span *ngSwitchCase="5">Group</span>
                <span *ngSwitchCase="6">Stock</span>
                <span *ngSwitchCase="7">Lists</span>
                <span *ngSwitchCase="8">Promo</span>
                <span *ngSwitchCase="9">Cities</span>
                <span *ngSwitchCase="10">Delivers</span>
                <span *ngSwitchDefault>-</span>
              </span>
            </li>
            <li>
              <h6>category :</h6>
              <span>{{ result?.category }}</span>
            </li>
            <li>
              <h6>brand :</h6>
              <span>{{ result?.brand }}</span>
            </li>
            <li>
              <h6>Image :</h6>
              <img src="{{ result?.main_image }}" />
            </li>
          </ul>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sku</th>
                <th scope="col">Price</th>
                <th scope="col">Discount Price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ result?.variant_sku }}</td>
                <td>{{ result?.price ? result?.price : "-" }}</td>
                <td>
                  {{ result?.discount_price ? result?.discount_price : "-" }}
                </td>
              </tr>
            </tbody>
          </table>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import">import product</button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '3'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Category</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>Category :</h6>
              <span>{{ result?.category }}</span>
            </li>
            <li>
              <h6>Sub Category :</h6>
              <span>{{ result?.subcategory }}</span>
            </li>
            <li>
              <h6>Options :</h6>
              <span>{{ result?.subcategory_options }}</span>
            </li>
            <li>
              <h6>Image :</h6>
              <img src="{{ result?.subcategory_image }}" />
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '4'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Option</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>Option :</h6>
              <span>{{ result?.option }}</span>
            </li>
            <li>
              <h6>Type :</h6>
              <span>{{ result?.type }}</span>
            </li>
            <li>
              <h6>Values :</h6>
              <span>{{ result?.values }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '5'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Group</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>category :</h6>
              <span>{{ result?.category }}</span>
            </li>
            <li>
              <h6>group :</h6>
              <span>{{ result?.group }}</span>
            </li>
            <li>
              <h6>group slug :</h6>
              <span>{{ result?.group_slug }}</span>
            </li>
            <li>
              <h6>sub category :</h6>
              <span>{{ result?.subcategory }}</span>
            </li>
            <li>
              <h6>sub category slug :</h6>
              <span>{{ result?.subcategory_slug }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '6'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Stock</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>Active :</h6>
              <span [ngSwitch]="result.active">
                <span *ngSwitchCase="0">Not active</span>
                <span *ngSwitchCase="1">Active</span>
                <span *ngSwitchDefault>-</span>
              </span>
            </li>
            <li>
              <h6>group :</h6>
              <span>{{ result?.group }}</span>
            </li>
            <li>
              <h6>discount price :</h6>
              <span>{{ result?.discount_price }}</span>
            </li>
            <li>
              <h6>price :</h6>
              <span>{{ result?.price }}</span>
            </li>
            <li>
              <h6>sku :</h6>
              <span>{{ result?.sku }}</span>
            </li>
            <li>
              <h6>stock :</h6>
              <span>{{ result?.stock }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '7'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Lists</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>name :</h6>
              <span>{{ result?.name }}</span>
            </li>
            <li>
              <h6>sku :</h6>
              <span>{{ result?.sku }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '8'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Promo</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>Active :</h6>
              <span [ngSwitch]="result.active">
                <span *ngSwitchCase="0">Not active</span>
                <span *ngSwitchCase="1">Active</span>
                <span *ngSwitchDefault>-</span>
              </span>
            </li>
            <li>
              <h6>amount :</h6>
              <span>{{ result?.amount }}</span>
            </li>
            <li>
              <h6>description :</h6>
              <span>{{ result?.description }}</span>
            </li>
            <li>
              <h6>expiration date :</h6>
              <span>{{ result?.expiration_date }}</span>
            </li>
            <li>
              <h6>name :</h6>
              <span>{{ result?.name }}</span>
            </li>
            <li>
              <h6>type :</h6>
              <span>{{ result?.type }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '9'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Cities</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>name :</h6>
              <span>{{ result?.name }}</span>
            </li>
            <li>
              <h6>sku :</h6>
              <span>{{ result?.sku }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
      <ng-container *ngIf="!step1 && type == '10'">
        <section class="parent">
          <div class="title d-flex align-items-center justify-content-between">
            <h5>Preview Your Delivery</h5>
            <i
              class="fa fa-times"
              aria-hidden="true"
              (click)="closePopup()"
            ></i>
          </div>
          <div class="first-box d-flex">
            <i class="fa fa-info-circle mr-2" aria-hidden="true"></i>
            <p>
              You're importing a file into shopify. if this preview doesn't look
              right ,
              <span>you can try to change the order of column heading</span>
            </p>
          </div>
          <div class="second-box">
            <p>
              You will be importing approximately <span>3 product</span> with a
              total of {{ totalCount }} SKUs and <span>3 images</span> importing
              will <span>not overwrite any existing products</span> that have
              the same product handle.
            </p>
          </div>

          <ul class="list-unstyled">
            <li>
              <h6>name :</h6>
              <span>{{ result?.name }}</span>
            </li>
            <li>
              <h6>sku :</h6>
              <span>{{ result?.sku }}</span>
            </li>
          </ul>
          <div class="d-flex justify-content-between p-2">
            <button class="btn back" (click)="backStep()">back</button>
            <div>
              <button class="btn cancel" (click)="closePopup()">cancel</button>
              <button class="btn ml-2 import" (click)="submitImport()">
                import product
              </button>
            </div>
          </div>
        </section>
      </ng-container>
    </div>
  </div>
</div>
