<ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar>
<div class="top-table-bar">
  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="left-search">
        <span>
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="owl-input owls-search" placeholder="search ...">
      </div>
    </div>

    <div class="col-md-5 col-xs-12 text-right">
      <div class="form-group">
        <a class=" btn btn-owls btn-rounded btn-blue2  btn-special" target="_blank" href="{{exportUrl}}">export CSV</a>
        <!-- <div style="line-height: 32px;" class=" btn btn-owls btn-rounded btn-blue2  owl-input-file">
          export csv
          <input type="file" class="" id=" " placeholder="type here ">
        </div> -->
      </div>
    </div>
  </div>
</div>

<div class="table-responsive">
  <table class="table owls-table text-center ">
    <thead>
      <tr>
        <th  scope="col">iD</th>
        <th  scope="col"> time </th>
        <th scope="col">sender</th>
        <th scope="col"> phone </th>
        <th scope="col"> address </th>
        <!-- <th scope="col"></th> -->
        <th scope="col">action</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let med of medical | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">
        <td>{{med.id}}</td>
        <td>{{med.created_at | date : "yyyy-MM-dd hh:mm a"}}</td>
        <td>{{med.user.name}}</td>
        <td>{{med.user.phone}}</td>
        <td class="relative"><span *ngIf="med.user.addresses">{{med.user.addresses[0].formatted_address | summary : 25}}</span>
          <div class="hover-reason text-left" *ngIf="med.user.addresses[0].formatted_address.length >= 25">
            <div class="head">
              address
            </div>
            <div class="body">
              {{med.user.addresses[0].formatted_address}}
            </div>
          </div>
        </td>
        <!-- <td>
            <div class="tb-assign">
                
                <button class="btn btn-owls btn-rounded btn-blue2 ">assign</button>
                
                <div class="edit-out delevaryman-popup" id="delevary1">
                  <div class="close">
                    <i class="icon-Exit"></i>
                  </div>
                  <div class="inner-addon left-addon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="owl-input owls-search" placeholder="search ...">
                  </div>
    
                  <div class="delivary-list">
                    <ul class="list-unstyled">
    
                      <li class="media">
                        <img width="65" height="65" class="mr-3 img-circle" src="http://via.placeholder.com/56x56" alt="">
                        <div class="media-body">
                          <img src="assets/img/available.svg" alt="">
                          <h5 class="">ahmed eraqi</h5>
                          <span>20 min ago</span>
                        </div>
                      </li>
    
                      <li class="media">
                        <img width="65" height="65" class="mr-3 img-circle" src="http://via.placeholder.com/56x56" alt="">
                        <div class="media-body">
                          <h5 class="">ahmed eraqi</h5>
                          <span>20 min ago</span>
                        </div>
                      </li>
    
                      <li class="media">
                        <img width="65" height="65" class="mr-3 img-circle" src="http://via.placeholder.com/56x56" alt="">
                        <div class="media-body">
                          <h5 class="">ahmed eraqi</h5>
                          <span>20 min ago</span>
                        </div>
                      </li>
    
                    </ul>
                  </div>
                  <button class="btn btn-owls btn-rounded btn-green">assign</button>
                </div>
    
              </div>

          
        </td> -->

        <td>
          <a href="javascript:void(0)" 
          (click)="viewMed(med)"
          data-toggle="modal" data-target="#viewPopUp" class="table-view">
            <i class="icon-View"></i>
          </a>
        </td>
      </tr>

      

    </tbody>
  </table>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>




<!-- view  Popup-->
<div class="modal fade" *ngIf="viewMedical" id="viewPopUp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">

    <div class="modal-content" >


      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <i class="icon-Exit"></i>
        </span>
      </button>

      <div class="v-img">
        <img src="{{viewMedical.image}}" alt="" class="img-fluid owl-img">
      </div>

      <div class="content">
        <h4>customer note</h4>
        <p>
            {{viewMedical.note}}
        </p>
      </div>

    </div>
  </div>
</div>


<!-- Delete  Popup-->
<div class="modal fade" id="removePopUp" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">are you sure to delete this item ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-owls btn-rounded btn-green btn-red2">remove</button>
        <button type="button" data-dismiss="modal" class="btn-owls btn-rounded btn-green btn-blue2">cancel </button>
      </div>
    </div>
  </div>
</div>