<div class="row">
  <div class="style-w-370px">
    <div class="receipt">
      <div class="head">
        <div class="row">
          <div class="col">
            <img
              src="{{ environmentVariables.brands.logoBlack }}"
              width="50"
              alt=""
            />
          </div>
          <div
            *ngIf="environmentVariables?.brandRelatedVariables.hotline"
            class="col right-rec"
          >
            <p class="text-right p-r r-24">
              <i class="fa fa-phone"></i
              >{{ environmentVariables?.brandRelatedVariables.hotline }}
            </p>
          </div>
        </div>
      </div>

      <ul class="main-list" *ngIf="order">
        <div class="row">
          <div class="col-6 pr-0">
            <li class="row m-0">
              <span class="col-6 p-0">Creation :</span>
              <span class="col-6 p-0 mr-0 spaning">
                {{ order?.created_at | date: "short" }}</span
              >
            </li>
          </div>
          <div class="col-6 text-left">
            <li>
              <span>Branch :</span
              >{{
                order?.deliverer?.name.length > 10
                  ? (order?.deliverer?.name | slice: 0:10)
                  : order?.deliverer?.name
              }}
            </li>
          </div>
          <div class="col-6">
            <li class="row m-0">
              <span class="col-6 p-0">Order :</span>
              <span class="col-6 p-0">{{ order?.id }}</span>
            </li>
          </div>
          <div class="col-6 text-left">
            <li><span>Client :</span>{{ order?.user?.name }}</li>
          </div>
          <div class="col-6 text-left">
            <li><span>city :</span>{{ order?.address?.city?.name }}</li>
          </div>
          <div class="col-6 text-left">
            <li><span>Area :</span>{{ order?.address?.area?.name }}</li>
          </div>
          <div class="col-6 text-left">
            <li><span>district :</span>{{ order?.address?.district?.name }}</li>
          </div>
          <div class="col-6">
            <li class="row m-0">
              <span class="col-6 p-0">Phone :</span>
              <span class="col-6 p-0">{{ order?.user?.phone }}</span>
            </li>
          </div>
        </div>
        <li class="wb-a">
          <span>Address :</span>{{ order?.address?.address }}
        </li>
        <li *ngIf="order?.address?.landmark">
          <span>Landmark :</span>{{ order?.address?.landmark }}
        </li>

        <ul class="row">
          <div class="col">
            <li><span>Building : </span>{{ order?.address?.apartment }}</li>
          </div>

          <div class="col">
            <li><span>Apt : </span>{{ order?.address?.floor }}</li>
          </div>
        </ul>
        <li *ngIf="order.notes"><span> Notes </span>{{ order?.notes }}</li>
      </ul>

      <div class="p-1">
        <table>
          <thead>
            <th class="w-160">Item</th>
            <th class="w-70 text-center">Price</th>
            <th class="pr-12 text-center">QTY</th>
            <th class="text-center">Total</th>
          </thead>
          <tbody>
            <tr *ngFor="let item of order?.items">
              <td>
                {{
                  item.product?.name_ar
                    ? item.product?.name_ar
                    : item.product?.name
                }}
                <br />
                {{ "sku: " + item.sku }}
              </td>

              <td class="text-right pr-1">
                <span *ngIf="item.product?.discount_price === null"
                  >{{ item.product?.price }}
                </span>
                <span *ngIf="item.product?.discount_price !== null"
                  >{{ item.product?.discount_price }}
                </span>
              </td>
              <td class="text-center">{{ item.amount }}</td>
              <td class="text-right pr-1">
                <span *ngIf="item.product?.discount_price === null"
                  >{{ item.product?.price * item.amount }}
                </span>
                <span *ngIf="item.product?.discount_price !== null"
                  >{{ item.product?.discount_price * item.amount }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr class="tmt-0 mb-0" />
      <div class="p-1" *ngIf="order">
        <div class="row">
          <div class="col-6 pr-0 fw-6 fs-11">
            <div class="row m-0">
              <span class="col-6 p-0"> Items Total :</span>
              <span class="col-6 p-0 mr-0 fs-11 wp-120 fw-6">
                {{ order.actual_amount }}
                <span class="text-right">{{
                  environmentVariables.localization.currency_code_en
                }}</span></span
              >
            </div>
          </div>

          <div class="col-6 pr-0 fw-6 fs-11" *ngIf="order.discount_amount">
            <div class="row m-0">
              <span class="col-6 p-0"> Offer :</span>
              <span class="col-6 p-0 mr-0 fs-11 wp-120 fw-6">
                -{{ order.actual_amount - order.discount_amount | number }}
                <span class="text-right">{{
                  environmentVariables.localization.currency_code_en
                }}</span></span
              >
            </div>
          </div>
          <div class="col-6 pr-0 fw-6 fs-11">
            <div class="row m-0">
              <span class="col-6 p-0"> Delivery Fees :</span>
              <span class="col-6 p-0 mr-0 fs-11 wp-120 fw-6"
                >{{ order.delivery_fees }}
                <span class="text-right">{{
                  environmentVariables.localization.currency_code_en
                }}</span></span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="footer text-center">
        <p>
          grand total
          <span
            >{{ order.amount + order.delivery_fees }}
            {{ environmentVariables.localization.currency_code_en }}</span
          >
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!loading" class="printActionsArea">
  <button class="printBtn" (click)="print()">Print</button>
</div>
