<div class="print">
  <div class="row">
    <div class="col-6">
      <div class="client-details">
        <div class="row">
          <div class="col-7 title-text">
            <div>
              <p>Order id (رقم الطلب)</p>
            </div>
          </div>
          <div class="col-5">
            <div>
              <p>
                {{ order.id }}
              </p>
            </div>
          </div>
          <div class="col-7 title-text">
            <div>
              <p>Order date (تاريخ الطلب)</p>
            </div>
          </div>
          <div class="col-5">
            <div>
              <p>
                {{ order?.created_at | date: "d/M/yyyy h:mm a" }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-5 text-center">
      <img
        *ngIf="environmentVariables"
        class="img-logo"
        [src]="environmentVariables.brands.logoBlack"
        alt=""
      />
    </div>
    <div class="col-12">
      <div class="table-product">
        <div class="box-col">
          <div class="name-col">
            Price after discount <br />
            (السعر بعد الخصم)
          </div>
          <div class="name-col">
            Price<br />
            (السعر قبل الخصم)
          </div>

          <div class="name-col">
            Quantity <br />
            (الكمية)
          </div>
          <div class="name-col">
            Serial Number <br />
            (رقم المسلسل)
          </div>
          <div class="name-col">
            Name <br />
            (الاسم)
          </div>
          <div class="name-col">
            Sku<br />
            ( كود المنتج)
          </div>
          <div class="name-col" style="border-left: none">
            Product image<br />
            ( صورة المنتج)
          </div>
        </div>
        <div class="box-col" *ngFor="let item of order?.items; let i = index">
          <div class="value-col" style="direction: ltr">
            <p>
              {{
                item?.discount_price
                  ? item?.discount_price +
                    environmentVariables?.localization?.currency_code_en
                  : "-"
              }}
            </p>
          </div>

          <div class="value-col">
            <p>
              {{ item?.price }}
              {{ environmentVariables?.localization?.currency_code_en }}
            </p>
          </div>
          <div class="value-col">
            <p>
              {{ item?.amount }}
            </p>
          </div>
          <div class="value-col">
            <p class="word-break-all">
              {{ item?.serial_number || "-" }}
            </p>
          </div>
          <div class="value-col">
            <p>
              {{ item?.product?.name }}
            </p>
          </div>
          <div class="value-col">
            <p>
              {{ item?.product?.sku }}
            </p>
          </div>
          <div class="value-col" style="border-left: none">
            <img
              [src]="item.product.image"
              onError="this.src='./assets/img/placeholder200.jpg';"
              default="./assets/img/placeholder200.jpg"
              alt=""
              height="100"
              style="width: 90%; object-fit: contain"
            />
          </div>
          <div
            style="page-break-inside: avoid; page-break-before: always"
            *ngIf="i + 1 == 10"
          ></div>
        </div>
        <div class="box-price">
          <div class="value-price" style="direction: ltr">
            {{ order?.actual_amount }}
            {{ environmentVariables?.localization?.currency_code_en }}
          </div>
          <div class="name-price">Subtotal</div>
        </div>
        <div class="box-price">
          <div class="value-price" style="direction: ltr">
            {{
              order.discount_amount
                ? order.actual_amount -
                  order.discount_amount +
                  environmentVariables?.localization?.currency_code_en
                : "-"
            }}
          </div>
          <div class="name-price">Discount</div>
        </div>
        <div class="box-price">
          <div class="value-price" style="direction: ltr">
            {{
              order.delivery_fees
                ? order.delivery_fees +
                  environmentVariables?.localization?.currency_code_en
                : "-"
            }}
          </div>
          <div class="name-price">Shiping cost</div>
        </div>
        <div class="box-price">
          <div class="value-price" style="direction: ltr">
            {{ order.amount + order.delivery_fees }}
            {{ environmentVariables?.localization?.currency_code_en }}
          </div>
          <div class="name-price">Total amount</div>
        </div>
      </div>
      <div class="payment-method">
        <p>
          Payment method (طريقة الدفع) :
          <span>{{ order?.payment_method_object?.name_en }}</span>
        </p>
      </div>
      <div class="info-user">
        <div class="box-price" style="border-left: 1px solid #888">
          <div class="name-price">Client Name</div>

          <div
            class="value-price"
            style="
              direction: ltr;
              border-right: 1px solid #888;
              width: 87.5%;
              text-align: left;
            "
          >
            {{ order?.user?.name }}
          </div>
        </div>
        <div class="box-price" style="border-left: 1px solid #888">
          <div class="name-price">Client phone</div>

          <div
            class="value-price"
            style="
              direction: ltr;
              border-right: 1px solid #888;
              width: 87.5%;
              text-align: left;
            "
          >
            {{ order?.user?.phone }}
          </div>
        </div>
        <div
          class="box-price"
          style="border-left: 1px solid #888; border-left: 1px solid #888"
        >
          <div class="name-price">Client address</div>
          <div
            class="value-price"
            style="
              direction: ltr;
              border-right: 1px solid #888;
              width: 87.5%;
              text-align: left;
            "
          >
            {{ order?.address?.formatted_address }}
          </div>
        </div>
        <div
          class="box-price"
          style="border-bottom: 1px solid #888; border-left: 1px solid #888"
        >
          <div class="name-price">Notes</div>
          <div
            class="value-price"
            style="
              direction: ltr;
              border-right: 1px solid #888;
              width: 87.5%;
              text-align: left;
            "
          >
            {{ order.notes ? order.notes : "-" }}
          </div>
        </div>
      </div>
      <div class="info">
        <p>
          For any inquiries or requests please contact our customer service
          at:<br />
          Hotline:
          {{
            environmentVariables
              ? environmentVariables.brandRelatedVariables.hotline
              : ""
          }}<br />
          Email:
          {{
            environmentVariables
              ? environmentVariables.brandRelatedVariables.email
              : ""
          }}<br />
          Thanks for shopping at
          {{
            environmentVariables
              ? environmentVariables.brandRelatedVariables.brand
              : ""
          }}!<br />
        </p>
        <p class="text-ar">
          : لأي إستفسارات برجاء التواصل معنا على خدمة العملاء علي<br />
          الخط الساخن:
          {{
            environmentVariables
              ? environmentVariables.brandRelatedVariables.hotline
              : ""
          }}
          <br />
          {{
            environmentVariables
              ? environmentVariables.brandRelatedVariables.email
              : ""
          }}
          : بريد إلكتروني<br />
          !شكرا لتسوقك علي
          {{
            environmentVariables
              ? environmentVariables.brandRelatedVariables.brandArabic
              : ""
          }}
        </p>
      </div>
    </div>
  </div>
</div>
