<div class="login-wrap">
  <div class="bg-blue"></div>

  <div class="container">
    <div class="login-image text-center">
      <img
        *ngIf="environmentVariables"
        [src]="environmentVariables.brands.logoWhite"
        width="150"
        alt="BrandLogo"
      />
    </div>
    <div class="login-form-up">
      <form ngNativeValidate (submit)="forgetPassword()">
        <h4>Forgot Password</h4>
        <p>
          Enter your registered email and we will send you a link to create a
          new password.
        </p>
        <div class="form-group">
          <label for="">Registered Email Address</label>
          <input
            required
            name="email"
            [(ngModel)]="email"
            type="email"
            class="owl-input"
            id=""
            placeholder="Enter email"
          />
        </div>

        <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>

        <div class="login-footer">
          <div class="form-group form-forget pull-left">
            <a routerLink="/login" class="forget">
              <i class="fa fa-angle-left"></i> Back to log-in</a
            >
            <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
          </div>
          <button
            type="submit"
            class="pull-right btn btn-owls btn-rounded btn-green"
          >
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
