<ngx-loading-bar [color]="'#4AC356 '"></ngx-loading-bar>
<div class="top-table-bar">

  <div class="row">
    <div class="col-md-7">
      <div class="left-search">
        <!-- <span>
          <i class="fa fa-search"></i>
        </span>
        <input type="text" class="owl-input owls-search" placeholder="search ..." [(ngModel)]="filter.term"
          (keydown)="changePage(1)"> -->
      </div>
    </div>







    <!-- <div class="col-md-12 col-sm-3" style="padding-top: 20px;  padding-bottom: 20px;">
      <label class="container">Hide Scheduled
        <input type="checkbox" class="form-control checkbox-style" name="hide_scheduled" id="hide_scheduled" [value]="1"
          [(ngModel)]="filter.hide_scheduled" (change)="changePage(1)">
        <span class="checkmark"></span>
      </label>
    </div> -->



    <!-- <div class="col-md-3  col-xs-12">
      <div class="form-group">
        <a class=" btn btn-owls btn-rounded btn-green  btn-special" target="_blank" href="{{exportUrl}}">Export All Orders</a>
      </div>
    </div> -->



  </div>
</div>

<div class="table-responsive">
  <table class="table owls-table" *ngIf="pickups.length">
    <thead>
      <tr>

        <th scope="col"> Id </th>
        <th scope="col"> Company name</th>
        <th scope="col"> Count orders</th>
        <th scope="col">Creation Date</th>
        <th style="text-align: center;" scope="col"> Actions </th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let pickup of pickups | paginate: { itemsPerPage: 20, currentPage: p, totalItems: total }; let i = index">

        <td scope="row">{{pickup.id}}</td>
        <td>
          <span [ngSwitch]="pickup.shipping_method">
            <span *ngSwitchCase="1">Internal</span>
            <span *ngSwitchCase="2">Mylerz</span>
            <span *ngSwitchCase="3">Aramex</span>
          </span>
        </td>

        <td>
          {{pickup.order_pickups.length}}
        </td>

        <td>{{pickup.created_at}}</td>

        <td>
          <a [routerLink]="['details', pickup.id]"
           class="toggle-view-category table-view">
            <i class="icon-View" ></i>
          </a>
        </td>

      </tr>

    </tbody>
  </table>
  <h4 class="text-center" *ngIf="no_orders">There are no Orders</h4>
</div>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
